﻿﻿@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700); {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
}

    body .my-container {
        position: relative;
        overflow: hidden;
        width: 700px;
        height: 500px;
        margin: 80px auto 0;
        background-color: #ffffff;
        -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    }

        body .my-container .half {
            float: left;
            width: 50%;
            height: 100%;
            padding: 58px 40px 0;
        }

            body .my-container .half.bg {
                background-image: url("https://s7.postimg.org/boj7tcxhn/image.jpg");
                background-size: 400px;
                background-repeat: no-repeat;
            }

        body .my-container h1 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 23px;
            text-align: center;
            text-indent: 6px;
            letter-spacing: 7px;
            text-transform: uppercase;
            color: #263238;
        }

        body .my-container .tabs {
            width: 100%;
            margin-bottom: 29px;
            border-bottom: 1px solid #d9d9d9;
        }

            body .my-container .tabs .tab {
                display: inline-block;
                margin-bottom: -1px;
                padding: 20px 15px 10px;
                cursor: pointer;
                letter-spacing: 0;
                border-bottom: 1px solid #d9d9d9;
                -moz-user-select: -moz-none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                transition: all 0.1s ease-in-out;
            }

                body .my-container .tabs .tab a {
                    font-size: 11px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #d9d9d9;
                    transition: all 0.1s ease-in-out;
                }

                body .my-container .tabs .tab.active a, body .my-container .tabs .tab:hover a {
                    color: #263238;
                }

                body .my-container .tabs .tab.active {
                    border-bottom: 1px solid #263238;
                }

        body .my-container .content form {
            position: relative;
            height: 287px;
        }

        body .my-container .content label:first-of-type, body .my-container .content input:first-of-type, body .my-container .content .more:first-of-type {
            -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
            -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
            animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
        }

        body .my-container .content label:nth-of-type(2), body .my-container .content input:nth-of-type(2), body .my-container .content .more:nth-of-type(2) {
            -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
            -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
            animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
        }

        body my-.container .content label:nth-of-type(3), body .my-container .content input:nth-of-type(3), body .my-container .content .more:nth-of-type(3) {
            -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
            -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
            animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
        }

        body .my-container .content label {
            font-size: 12px;
            color: #263238;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

            body .my-container .content label:not([for='remember']) {
                display: none;
            }

        body .my-container .content input.inpt {
            font-size: 14px;
            display: block;
            width: 100%;
            height: 42px;
            margin-bottom: 12px;
            padding: 16px 13px;
            color: #999999;
            border: 1px solid #d9d9d9;
            background: transparent;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }

            body .my-container .content input.inpt::-webkit-input-placeholder {
                font-size: 14px;
                color: #999999;
                font-family: 'Lato', sans-serif;
            }

            body .my-container .content input.inpt:-moz-placeholder {
                font-size: 14px;
                color: #999999;
                font-family: 'Lato', sans-serif;
            }

            body .my-container .content input.inpt::-moz-placeholder {
                font-size: 14px;
                color: #999999;
                font-family: 'Lato', sans-serif;
            }

            body .my-container .content input.inpt:-ms-input-placeholder {
                font-size: 14px;
                color: #999999;
                font-family: 'Lato', sans-serif;
            }

            body .my-container .content input.inpt:focus {
                border-color: #999999;
            }

        body .my-container .content input.submit {
            font-size: 12px;
            line-height: 42px;
            display: block;
            width: 100%;
            height: 42px;
            cursor: pointer;
            vertical-align: middle;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #263238;
            border: 1px solid #263238;
            background: transparent;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }

            body .my-container .content input.submit:hover {
                background-color: #263238;
                color: #ffffff;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
            }

        body .my-container .content input:focus {
            outline: none;
        }

        body .my-container .content .checkbox {
            margin-top: 4px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 0;
            height: 0;
            margin: 17px -1px;
            padding: 0;
            border: 0;
            opacity: 0;
            visibility: hidden;
        }

            body .my-container .content .checkbox + label {
                vertical-align: middle;
                display: inline-block;
                width: 50%;
            }

                body .my-container .content .checkbox + label:before {
                    content: "\A";
                    color: #999999;
                    font-family: Verdana;
                    font-weight: bold;
                    font-size: 8px;
                    line-height: 10px;
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                    background: transparent;
                    border: 1px solid #d9d9d9;
                    width: 11px;
                    height: 11px;
                    margin: -2px 8px 0 0;
                }

            body .my-container .content .checkbox:checked + label:before {
                content: "✓";
            }

        body .my-container .content .submit-wrap {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

            body .my-container .content .submit-wrap a {
                font-size: 12px;
                display: block;
                margin-top: 20px;
                text-align: center;
                text-decoration: none;
                color: #999999;
            }

                body .my-container .content .submit-wrap a:hover {
                    text-decoration: underline;
                }

        body .my-container .content .signup-cont {
            display: none;
        }

@keyframes slideIn {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        margin-left: -320px;
    }

    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        margin-left: 0px;
    }
}

@-webkit-keyframes slideIn {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        margin-left: -320px;
    }

    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        margin-left: 0px;
    }
}

.credits {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #999999;
    font-size: 14px;
    margin: 0 10px 10px 0;
}

    .credits a {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8;
        color: inherit;
        font-weight: 700;
        text-decoration: none;
    }
