html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

label.btn.text-white {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

select#my-dropdown {
    border-radius: 5px;
}

.radio {
    margin: 10px 0; /* Adds vertical spacing between radio button groups */
}

    /* Style for each radio button and its corresponding label */
    .radio input[type="radio"] {
        margin-right: 5px; /* Adds horizontal spacing between radio button and label */
    }

/* Style for labels within the radio class */
/*Syllabus item*/
/* Style for the table body */
table#table tbody {
    font-size: 16px;
}

    /* Style for odd rows (alternate row color) */
    table#table tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    /* Style for even rows */
    table#table tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    /* Style for hover effect on rows */
    table#table tbody tr:hover {
        background-color: #ccc;
    }

    /* Style for table cells in the body */
    table#table tbody td {
        padding: 8px;
        text-align: left;
    }

/*drop-down "..."*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the button */
.dropdown-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for the options */
.dropdown-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for individual options */
.dropdown-option {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

    /* Hover effect for options */
    .dropdown-option:hover {
        background-color: #ddd;
    }

/* Show the options when the button is clicked */
.dropdown:hover .dropdown-options {
    display: block;
}
