﻿:root {
    --sub-info: rgba(71, 71, 71, 1);
    --main: rgba(45, 55, 72, 1);
    --alert: rgba(231, 74, 59, 1);
    --un-modified: rgba(139, 139, 139, 1);
    --orange-main: rgba(212, 91, 19, 1);
    --female: rgba(255, 117, 104, 1);
    --green-main: rgba(47, 144, 63, 1);
    --blue-main: rgba(40, 93, 154, 1);
    --box: rgba(241, 241, 241, 1);
    --sub-text-font-family: "Inter-Italic", Helvetica;
    --sub-text-font-weight: 400;
    --sub-text-font-size: 14px;
    --sub-text-letter-spacing: 0px;
    --sub-text-line-height: normal;
    --sub-text-font-style: italic;
    --header-font-family: "Inter-Bold", Helvetica;
    --header-font-weight: 700;
    --header-font-size: 16px;
    --header-letter-spacing: 0px;
    --header-line-height: normal;
    --header-font-style: normal;
    --paragraph-font-family: "Inter-Regular", Helvetica;
    --paragraph-font-weight: 400;
    --paragraph-font-size: 14px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: normal;
    --paragraph-font-style: normal;
    --section-font-family: "Inter-Medium", Helvetica;
    --section-font-weight: 500;
    --section-font-size: 24px;
    --section-letter-spacing: 4.8px;
    --section-line-height: normal;
    --section-font-style: normal;
    --title-font-family: "Inter-Bold", Helvetica;
    --title-font-weight: 700;
    --title-font-size: 36px;
    --title-letter-spacing: 7.2px;
    --title-line-height: normal;
    --title-font-style: normal;
    --sub-title-font-family: "Inter-Bold", Helvetica;
    --sub-title-font-weight: 700;
    --sub-title-font-size: 24px;
    --sub-title-letter-spacing: 0px;
    --sub-title-line-height: normal;
    --sub-title-font-style: normal;
}
/*--------------------Training program of class---------------------------*/
.component {
    position: relative;
    width: 1172px;
    height: 209px;
}

    .component .program-header {
        flex-direction: column;
        width: 1172px;
        justify-content: center;
        gap: 10px;
        padding: 20px 30px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: flex;
        align-items: flex-start;
    }

        .component .program-header .more-horizontal {
            position: relative;
            width: 48px;
            height: 48px;
            margin-bottom: -4px;
        }

.button-add {
    border: none;
    background-color: white;
}

.component .training-program {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: var(--main);
    font-size: 24px;
    letter-spacing: 4.8px;
    line-height: normal;
}

.component .text-wrapper {
    font-weight: var(--section-font-weight);
    font-family: var(--section-font-family);
    font-style: var(--section-font-style);
    letter-spacing: var(--section-letter-spacing);
    line-height: var(--section-line-height);
    font-size: var(--section-font-size);
}

.component .span {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    text-decoration: underline;
}

.component .program-name {
    width: 1142px;
    height: 44px;
    justify-content: space-between;
    padding: 0px 30px 0px 0px;
    position: relative;
    margin-right: -30px;
    display: flex;
    align-items: flex-start;
}

.component .frame {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.component .div {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: var(--main);
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    font-style: var(--title-font-style);
}

.component .inactive {
    display: flex;
    width: 72px;
    height: 27px;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    position: relative;
    background-color: var(--un-modified);
    border-radius: 50px;
    border: 1px solid;
    border-color: #ffffff;
}

.component .in-active {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    margin-left: -7px;
    margin-right: -7px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.component .more-horizontal {
    position: relative;
    width: 48px;
    height: 48px;
    margin-bottom: -4px;
}

.component .program-meta-data {
    display: flex;
    flex-direction: column;
    width: 1172px;
    height: 86px;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    padding: 20px 0px 20px 30px;
    position: absolute;
    top: 123px;
    left: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.component .frame-2 {
    display: flex;
    width: 268px;
    align-items: baseline;
    gap: 5px;
    margin-top: -2.5px;
    position: relative;
    flex: 0 0 auto;
}

.component .element {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.component .days {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.component .hours {
    position: relative;
    width: fit-content;
    font-family: "Inter-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.component .modified-on {
    position: relative;
    width: fit-content;
    margin-bottom: -1.5px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.component .text-wrapper-2 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
}

.component .text-wrapper-3 {
    font-family: "Inter-Italic", Helvetica;
    font-style: italic;
}

.component .text-wrapper-4 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    width: 1172px;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 20px;
    position: relative;
}

    .content .frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
    }

    .content .content-title {
        display: flex;
        width: 1172px;
        align-items: flex-start;
        gap: 10px;
        padding: 10px 10px 0px 0px;
        position: relative;
        flex: 0 0 auto;
        margin-right: -40px;
    }

    .content .text-wrapper {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: var(--sub-title-font-family);
        font-weight: var(--sub-title-font-weight);
        color: #000000;
        font-size: var(--sub-title-font-size);
        letter-spacing: var(--sub-title-letter-spacing);
        line-height: var(--sub-title-line-height);
        font-style: var(--sub-title-font-style);
    }

    .content .syllabus-content {
        display: flex;
        height: 96px;
        align-items: center;
        gap: 10px;
        padding: 10px 0px;
        position: relative;
        align-self: stretch;
        width: 100%;
        border-radius: 40px;
        box-shadow: -4px -4px 4px #0000001a, 0px 4px 4px #00000040;
    }

    .content .div {
        display: flex;
        align-items: flex-start;
        position: relative;
        flex: 1;
        flex-grow: 1;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .content .group-wrapper {
        display: flex;
        width: 250px;
        height: 96px;
        align-items: center;
        gap: 7px;
        padding: 0px 0px 0px 20px;
        position: relative;
        background-color: var(--main);
        border-radius: 20px 0px 0px 20px;
    }

    .content .group {
        position: relative;
        width: 47px;
        height: 47px;
    }

    .content .overlap-group {
        position: relative;
        height: 47px;
        border-radius: 23.5px;
    }

    .content .mask-group {
        position: absolute;
        width: 46px;
        height: 45px;
        top: 1px;
        left: 1px;
    }

    .content .ellipse {
        position: absolute;
        width: 47px;
        height: 47px;
        top: 0;
        left: 0;
        border-radius: 23.5px;
        border: 1px solid;
        border-color: var(--main);
    }

    .content .frame-wrapper {
        display: flex;
        flex-direction: column;
        height: 96px;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding: 10px 20px;
        position: relative;
        flex: 1;
        flex-grow: 1;
        background-color: #ffffff;
        border-radius: 0px 20px 20px 0px;
    }

    .content .frame-2 {
        display: flex;
        flex-direction: column;
        width: 475px;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        flex: 0 0 auto;
    }

    .content .program-name {
        display: flex;
        width: 486px;
        align-items: flex-start;
        gap: 10px;
        padding: 0px 30px 0px 0px;
        position: relative;
        flex: 0 0 auto;
        margin-right: -11px;
    }

    .content .frame-3 {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        position: relative;
        flex: 0 0 auto;
    }

    .content .div-wrapper {
        display: inline-flex;
        align-items: baseline;
        gap: 10px;
        position: relative;
        flex: 0 0 auto;
    }

    .content .text-wrapper-2 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: var(--main);
        font-size: 24px;
        letter-spacing: 4.8px;
        line-height: normal;
    }

    .content .activate {
        background-color: var(--main);
        display: flex;
        width: 72px;
        height: 27px;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        position: relative;
        border-radius: 50px;
        border: 1.5px solid;
        border-color: #ffffff;
    }

    .content .text-wrapper-3 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

    .content .syllabus-meta {
        display: inline-flex;
        align-items: flex-start;
        gap: 7px;
        position: relative;
        flex: 0 0 auto;
    }

    .content .text-wrapper-4 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: var(--paragraph-font-family);
        font-weight: var(--paragraph-font-weight);
        color: var(--sub-info);
        font-size: var(--paragraph-font-size);
        letter-spacing: var(--paragraph-letter-spacing);
        line-height: var(--paragraph-line-height);
        font-style: var(--paragraph-font-style);
    }

    .content .p {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: var(--sub-info);
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .content .span {
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #474747;
        font-size: 14px;
        letter-spacing: 0;
    }

    .content .text-wrapper-5 {
        font-family: "Inter-Italic", Helvetica;
        font-style: italic;
    }

    .content .syllabus-meta-wrapper {
        display: inline-flex;
        flex-direction: column;
        height: 96px;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding: 15px 5px;
        position: relative;
        flex: 0 0 auto;
        margin-top: -10px;
        margin-bottom: -10px;
        background-color: var(--alert);
        border-radius: 10px;
        box-shadow: -4px -4px 4px #0000001a, 0px 4px 4px #00000040;
    }

    .content .delete-forever-wrapper {
        display: inline-flex;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        flex: 0 0 auto;
    }

    .content .delete-forever {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .content .text-wrapper-6 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: var(--un-modified);
        font-size: 24px;
        letter-spacing: 4.8px;
        line-height: normal;
    }

    .content .activate-2 {
        background-color: #b9b9b9;
        display: flex;
        width: 72px;
        height: 27px;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        position: relative;
        border-radius: 50px;
        border: 1.5px solid;
        border-color: #ffffff;
    }

    .content .text-wrapper-7 {
        position: relative;
        width: fit-content;
        margin-top: -2.5px;
        margin-left: -7px;
        margin-right: -7px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

    .content .text-wrapper-8 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: var(--paragraph-font-family);
        font-weight: var(--paragraph-font-weight);
        color: var(--un-modified);
        font-size: var(--paragraph-font-size);
        letter-spacing: var(--paragraph-letter-spacing);
        line-height: var(--paragraph-line-height);
        font-style: var(--paragraph-font-style);
    }

    .content .div-2 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: var(--un-modified);
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .content .text-wrapper-9 {
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #8b8b8b;
        font-size: 14px;
        letter-spacing: 0;
    }

.syllabus-content {
    display: flex;
    align-items: flex-start;
    position: relative;
}

    .syllabus-content .group-wrapper {
        display: flex;
        width: 250px;
        height: 96px;
        align-items: center;
        gap: 7px;
        padding: 0px 0px 0px 20px;
        position: relative;
        background-color: var(--main);
        border-radius: 20px 0px 0px 20px;
    }

    .syllabus-content .group {
        position: relative;
        width: 47px;
        height: 47px;
    }

    .syllabus-content .overlap-group {
        position: relative;
        height: 47px;
        border-radius: 23.5px;
    }

    .syllabus-content .mask-group {
        position: absolute;
        width: 46px;
        height: 45px;
        top: 1px;
        left: 1px;
    }

    .syllabus-content .ellipse {
        position: absolute;
        width: 47px;
        height: 47px;
        top: 0;
        left: 0;
        border-radius: 23.5px;
        border: 1px solid;
        border-color: var(--main);
    }

    .syllabus-content .frame-wrapper {
        display: flex;
        flex-direction: column;
        height: 96px;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding: 10px 20px;
        position: relative;
        flex: 1;
        flex-grow: 1;
        background-color: #ffffff;
        border-radius: 0px 20px 20px 0px;
        width: 850px;
    }

    .syllabus-content .div {
        display: flex;
        flex-direction: column;
        width: 475px;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        flex: 0 0 auto;
    }

    .syllabus-content .program-name {
        display: flex;
        width: 486px;
        align-items: flex-start;
        gap: 10px;
        padding: 0px 30px 0px 0px;
        position: relative;
        flex: 0 0 auto;
        margin-right: -11px;
    }

    .syllabus-content .div-2 {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        position: relative;
        flex: 0 0 auto;
    }

    .syllabus-content .div-wrapper {
        display: inline-flex;
        align-items: baseline;
        gap: 10px;
        position: relative;
        flex: 0 0 auto;
    }

    .syllabus-content .text-wrapper {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter", Helvetica;
        font-weight: 700;
        color: var(--main);
        font-size: 24px;
        letter-spacing: 4.8px;
        line-height: normal;
    }

    .syllabus-content .activate {
        display: flex;
        width: 72px;
        height: 27px;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        position: relative;
        background-color: var(--main);
        border-radius: 50px;
        border: 1.5px solid;
        border-color: #ffffff;
    }

    .syllabus-content .text-wrapper-2 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Roboto", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

    .syllabus-content .navbar-child {
        display: inline-flex;
        align-items: flex-start;
        gap: 7px;
        position: relative;
        flex: 0 0 auto;
    }

    .syllabus-content .text-wrapper-3 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: var(--paragraph-font-family);
        font-weight: var(--paragraph-font-weight);
        color: var(--sub-info);
        font-size: var(--paragraph-font-size);
        letter-spacing: var(--paragraph-letter-spacing);
        line-height: var(--paragraph-line-height);
        font-style: var(--paragraph-font-style);
    }

    .syllabus-content .p {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter", Helvetica;
        font-weight: 400;
        color: var(--sub-info);
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .syllabus-content .span {
        font-family: "Inter", Helvetica;
        font-weight: 400;
        color: #474747;
        font-size: 14px;
        letter-spacing: 0;
    }

    .syllabus-content .text-wrapper-4 {
        font-style: italic;
    }

.saving-button {
    display: flex;
    height: 38px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    padding-top: 60px;
}

    .saving-button .back-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 7px 25px;
        position: relative;
        flex: 0 0 auto;
        margin-top: -16.5px;
        margin-bottom: -16.5px;
        background-color: var(--main);
        border-radius: 10px;
        all: unset;
        box-sizing: border-box;
    }

    .saving-button .text-wrapper {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .saving-button .frame {
        align-items: flex-start;
        margin-top: -16.5px;
        margin-bottom: -16.5px;
        display: inline-flex;
        gap: 10px;
        position: relative;
        flex: 0 0 auto;
    }

    .saving-button .add-day-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 7px 10px;
        position: relative;
        flex: 0 0 auto;
        border-radius: 10px;
        all: unset;
        box-sizing: border-box;
    }

    .saving-button .div {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: var(--alert);
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
    }

    .saving-button .div-wrapper {
        align-items: center;
        justify-content: center;
        padding: 7px 25px;
        background-color: var(--main);
        border-radius: 10px;
        display: inline-flex;
        gap: 10px;
        position: relative;
        flex: 0 0 auto;
    }

.svg {
    pointer-events: none;
}

.dropbtn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    white-space: normal;
    text-align: center;
    outline: none !important;
    text-decoration: none !important;
    color: #000 !important;
    cursor: pointer;
}

    .dropbtn:active,
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #f1f1f1 !important;
    }

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
    z-index: 1;
    left: -412%;
    border-radius: 10px;
    width: 229px;
}

    .dropdown-content a {
        color: #2C5282;
        font-size: 16px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover,
        .dropdown-content a:focus {
            background: rgba(201, 203, 208, 0.37);
        }

.show {
    display: block;
}

.bg-main {
    background-color: #2d3748;
}

.collapsing {
    transition-duration: 0.15s !important;
}

.btn-unigate {
    background-color: #0b2136;
    border-radius: 20%/50%;
}

.btn-nav.btn-active {
    background-color: #2d3748 !important;
    color: #ffffff !important;
}

    .btn-nav.btn-active svg {
        filter: brightness(500%);
    }

.btn-nav-sub.btn-active {
    background-color: #4f6181 !important;
    color: #ffffff !important;
}

.btn-nav,
.btn-nav-sub {
    text-align: left;
    white-space: nowrap;
    margin-bottom: 0.2rem;
}

.btn-nav-sub {
    width: 85%;
    padding-left: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.2rem;
    margin-left: 15%;
    box-sizing: border-box;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

    .btn-nav .nav-text {
        margin-right: auto;
        padding: 0 10px;
        overflow: hidden;
    }

    .btn-nav svg:first-child {
        overflow: visible;
    }

.hide {
    display: none;
    padding: 0px !important;
    width: 0px !important;
}

.btn-nav .nav-dropdown {
    margin-left: auto;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.nav-dropdown-open {
    transform: rotate(-90deg);
}

#main-navigation-menu {
    overflow: hidden;
    list-style-type: none;
}

#btn-nav-toggle {
    width: initial;
}
