﻿@using UserManagementFA2023.Models.DTO
@model LoginRequestDTO
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="~/css/auth.css" />
<section class="my-container">
    <article class="half">
        <h1>FPT</h1>
 		<div class="tabs">
            <span class="tab signin active"><a asp-area="" asp-controller="Auth" asp-action="Login" asp-route-type="signin">Sign in</a></span>
            <span class="tab signup"><a asp-area="" asp-controller="Auth" asp-action="Register" asp-route-type="signup">Sign up</a></span>
		</div>
        <div class="content">
            <div class="signin-cont cont">
                <form action="#" method="post" enctype="multipart/form-data">
                    <input asp-for="Username" type="email" id="email" class="inpt" required="required" placeholder="Your email">
                    <label for="email">Your email</label>
                    <input asp-for="Password" type="password" id="password" class="inpt" required="required" placeholder="Your password">
                    <label for="password">Your password</label>
                    <input type="checkbox" id="remember" class="checkbox" checked>
                    <label for="remember">Remember me</label>
                    <div class="submit-wrap">
                        <input type="submit" value="Sign in" class="submit">
                        <a href="#" class="more">Forgot your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <div class="half bg"></div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="~/js/auth.js"></script>
