﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus</title>
    <!-- included script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/site.css">
    <!-- --- -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial;
        }

        .syllabus-create-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }

        #syllabus-body {
            width: 100%;
            height: 100%;
        }


        .bordered-box {
            border-radius: 10px;
            border: 1px solid #000;
            background: #FFF;
        }

        .syllabus-creation-body {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 80%;
        }

        .syllabus-creation-body-right {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            border-right: 3px inset;
            border-bottom: 7px inset;
        }
        .syllabus-content {
            display: flex;
            width: 100%;
            height: 90%;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            margin-top: 35px;
            border-top: 0.5px solid #000;
        }

        #knowledge-req {
            display: flex;
            padding: 10px 10px 10px 30px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        #tech-req {
            display: flex;
            width: 100%;
            padding-left: 20px;
            flex-direction: column;
            align-items: flex-start;
        }

        #objectives {
            display: flex;
            width: 100%;
            padding: 1px 10px 1px 30px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        .content-text-bold {
            color: #000;
            font-family: Arial;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            F line-height: normal;
        }

        #content-text-box-1 {
            display: flex;
            width: 242px;
            height: 20px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
        }

        #content-text-box-2 {
            display: flex;
            height: 20px;
            padding: 10px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
        }

        #content-text-box-3 {
            display: flex;
            padding: 10px;
            padding-bottom: 0px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
        }

        #content-text-box-4 {
            display: flex;
            padding: 10px;
            width: 98%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            align-self: stretch;
        }

        .content-text-normal {
            color: #000;
            font-family: Inter;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }

        .syllabus-creation-body-left {
            display: flex;
            flex-direction: column;
            width: 20%;
            height: 100%;
        }

        .time-allocation-box {
            display: flex;
            width: 200px;
            height: 200px;
            margin: 80px 25px 0px 25px;
            flex-direction: column;
            align-items: center;
        }

        .time-allocation {
            display: flex;
            width: 100%;
            height: 20%;
            padding: 5px 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 20px 20px 0px 0px;
            background: #2D3748;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: #FFF;
            /* text */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .time-allocation-content {
            display: flex;
            width: 100%;
            height: 80%;
            padding: 10px 20px 20px 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border-radius: 0px 0px 10px 10px;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .time-allocation-info {
            display: flex;
            width: 179px;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            height: auto;
        }

        .info {
            display: flex;
            width: 175px;
            align-items: center;
            gap: 5px;
            padding-left: 10px;
            color: #000;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .info-type-1 {
            width: 98px;
            flex-shrink: 0;
        }

        .info-type-2 {
            width: 60.125px;
            flex-shrink: 0;
        }


        .custom-indentation {
            width: 150px;
        }

        .req-text-box-first-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            box-shadow: 10px 10px #EDF2F7;
        }

        .objectives-title {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .custom-add-objective-btn {
            background-color: black;
            height: 20px;
            width: 20px;
            border-radius: 100%;
        }

        .first-form-req-text-box-1 {
            padding-left: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .custom-text-box-1 {
            border-radius: 7px;
            border: 1px solid #000;
            height: 25px;
            width: 90px;
            padding-left: 5px;
        }

        .custom-select-box-1 {
            border-radius: 7px;
            border: 1px solid #000;
            height: 25px;
            width: 200px;
            padding-left: 5px;
        }

        .first-form-req-text-box-2 {
            padding-left: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .first-form-req-text-box-3 {
            width: 100%;
            overflow: visible;
            F
        }

        .custom-text-area-1 {
            border-radius: 7px;
            border: 1px solid #000;
            width: 99.5%;
            padding: 5px 0px 0px 5px;
            overflow: visible;
        }




        .objectives-tab {
            width: 100%;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px 10px 0px 0px;
            padding: 0px 0px 0px 20px;
            background-color: #2D3748;
            ;
        }

        .objectives-tab-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .custom-drop-down-btn {
            display: flex;
            justify-content: center;
            background-color: #2D3748;
            height: 100%;
            border: 0;
            border-radius: 10px;
        }

        .custom-drop-down-icon {
            background-color: #000;
            height: 100%;
            border-radius: 100%;
            width: 20px;
            margin-right: 20px;
        }

        .custom-rm-btn {
            width: 20px;
        }


        .form-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }


        .text-title-black-typo {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .text-title-white-typo {
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .text-normal-black-typo {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .hidden-typo {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: italic;
            line-height: normal;
        }

        .eclipse-img {
            display: block;
            max-width: 100%;
            margin-left: auto;
            margin-right: 0px;
        }

        .syllabus-creation-header {
            display: flex;
            width: 100%;
            height: 10%;
            padding: 10px 0px 0px 30px;
            border-bottom: 1px solid var(--Main, #2D3748);
            background: #FFF;
        }

        .progress-frame {
            display: flex;
            align-items: flex-start;
            gap: 50px;
        }

        .progress-frame-name {
            color: var(--Main, #2D3748);
            /* section */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 4.8px;
        }

        .progress-bar {
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            align-items: flex-start;
        }

        .label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
            flex: 1 0 0;
        }

        .bar {
            width: 100%;
            height: 12px;
            background: #CCC;
        }

        .completed-bar {
            background: var(--blue-main, #285D9A);
        }

        .radius-border-bar-start {
            border-radius: 6px 0px 0px 6px;
        }

        .radius-border-bar-end {
            border-radius: 0px 6px 6px 0px;
        }

        .label-name {
            flex: 1 0 0;
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .label-name-padding {
            display: flex;
            padding: 0px 10px;
            align-items: flex-start;
            align-self: stretch;
        }

        .saving-button {
            display: flex;
            height: 38px;
            padding: 20px;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
        }

        .cancel {
            display: flex;
            padding: 7px 10px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: var(--alert, #E74A3B);
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration-line: underline;
        }

        .save-as-draft, .next {
            display: flex;
            padding: 7px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: var(--Sub-info, #474747);
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .cancel:hover {
            background: #E74A3B;
            color: #FFF;
            border-radius: 10px;
        }

        .save-as-draft:hover, .next:hover {
            background: #6D7684;
        }
    </style>
</head>
<body>
    <div class="syllabus-create-container" id="syllabus-general-body">
        <div class="syllabus-creation-header">
            <div class="progress-frame">
                <div class="progress-frame-name">
                    Syllabus
                </div>
                <div class="progress-bar">
                    <div class="label">
                        <div class="bar space completed-bar radius-border-bar-start"><img class="eclipse-img" src="img/Ellipse offset.svg" alt=""></div>
                        <div class="label-name label-name-padding">General</div>
                    </div>
                    <div class="label">
                        <div class="bar"></div>
                        <div class="label-name label-name-padding">Outline</div>
                    </div>
                    <div class="label">
                        <div class="bar"></div>
                        <div class="label-name label-name-padding">Others</div>
                    </div>
                    <div class="label">
                        <div class="bar radius-border-bar-end"></div>
                        <div class="label-name label-name-padding">Done</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="syllabus-creation-body">
            <div class="syllabus-creation-body-right">
                <div class="syllabus-content">
                    <div id="knowledge-req">
                        <div class="req-text-box">
                            <div class="content-text-bold">Level*</div>
                            <div id="content-text-box-1">
                                <form action="" method="">
                                    <select class="custom-select" id="level-text-box">
                                        <option value="LOW" class="content-text-normal">LOW</option>
                                        <option value="MEDIUM" class="content-text-normal">MEDIUM</option>
                                        <option value="HIGH" class="content-text-normal">HIGH</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="req-text-box">
                            <div class="content-text-bold">Attendee number*</div>
                            <div id="content-text-box-2">
                                <form action="" method="">
                                    <input type="text" class="short-round" id="attendeeNumber-text-box">
                                </form>

                            </div>
                        </div>
                    </div>
                    <div id="tech-req">
                        <div class="content-text-bold">Technical Requirement(s)*</div>
                        <div id="content-text-box-3">
                            <form action="" method="">
                                <textarea name="" id="technicalRequirement-box" cols="110" rows="4" class="text-area-custom"></textarea>
                            </form>
                        </div>
                    </div>
                    <div id="objectives">
                        <div class="content-text-bold">Course Objectives*</div>
                        <div id="content-text-box-4">
                            <textarea name="" id="courseObjectives-box" cols="110" rows="4" class="text-area-custom"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="syllabus-creation-body-left">
                <div class="time-allocation-box">
                    <div class="time-allocation">Time allocation</div>
                    <div class="time-allocation-content">
                        <div class="time-allocation-info">
                            <div class="info">
                                <img src="img/bullet1.svg" alt="">
                                <div class="info-type-1">Assigment Lab</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet2.svg" alt="">
                                <div class="info-type-1">Concept/Lecture</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet3.svg" alt="">
                                <div class="info-type-1">Guide/Review</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet4.svg" alt="">
                                <div class="info-type-1">Test/Quiz</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet5.svg" alt="">
                                <div class="info-type-1">Exams</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

