﻿<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus Creation</title>
</head>
<head>
    <style>
        .syllabus-create-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }
        .syllabus-creation-header {
            display: flex;
            width: 100%;
            height: 10%;
            padding: 10px 0px 0px 30px;
            border-bottom: 1px solid var(--Main, #2D3748);
            background: #FFF;
        }

        .progress-frame {
            display: flex;
            align-items: flex-start;
            gap: 50px;
        }

        .progress-frame-name {
            color: var(--Main, #2D3748);
            /* section */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 4.8px;
        }

        .progress-bar {
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            align-items: flex-start;
        }

        .label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
            flex: 1 0 0;
        }

        .bar {
            width: 100%;
            height: 12px;
            background: #CCC;
        }

        .completed-bar {
            background: var(--blue-main, #285D9A);
        }

        .radius-border-bar-start {
            border-radius: 6px 0px 0px 6px;
        }

        .radius-border-bar-end {
            border-radius: 0px 6px 6px 0px;
        }

        .label-name {
            flex: 1 0 0;
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .label-name-padding {
            display: flex;
            padding: 0px 10px;
            align-items: flex-start;
            align-self: stretch;
        }
        .title-text-white {
            color: #FFF;
            /* text */
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .title-text-black {
            color: #000;
            /* text */
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .normal-text {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .doughnut-img {
            display: block;
            max-height: 135px;
            margin-left: auto;
            margin-right: auto;
        }

        .syllabus-content-others {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 90%;
            align-items: flex-start;
            margin-top: 5px;
            padding: 20px 5px 10px 30px;
            border-top: 0.5px solid #000;
        }

        .syllabus-content-1 {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 30%;
            border-radius: 3px;
        }

        .time-allocation-others {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            align-items: center;
            flex-shrink: 0;
            margin-right: 5px;
            border-radius: 0px 0px 10px 10px;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
            overflow: hidden;
        }

        .time-allocation-others-title {
            display: flex;
            padding: 5px 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            height: auto;
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            background: #2D3748;
            overflow: hidden;
        }

        .time-allocation-others-content {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 85%;
            width: 100%;
        }

        .others-doughnut {
            display: block;
            width: 50%;
            height: auto;
        }

        .others-info {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: auto;
            align-items: center;
            gap: 15px;
        }

        .assessment-scheme-others {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            align-items: center;
            flex-shrink: 0;
            border-radius: 0px 0px 10px 10px;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
        }

        .assessment-scheme-others-title {
            display: flex;
            padding: 5px 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            height: auto;
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            background: #2D3748;
        }

        .assessment-scheme-others-content {
            display: flex;
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
        }

        .assessment-scheme-others-content-1 {
            display: flex;
            width: 100%;
            gap: 65px;
            border-bottom: 1px solid var(--Sub-info, #474747);
        }

        .assessment-scheme-others-content-1-left {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 40%;
            gap: 10px;
            padding: 5px 0px 5px 15px;
        }

        .assessment-scheme-others-content-1-right {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 40%;
            gap: 10px;
            padding: 5px 10px 5px 0px;
        }

        .assessment-scheme-others-content-1-req-text-box {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .assessment-scheme-others-content-1-text-box {
            display: flex;
            padding: 5px 10px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 10px;
            background: #FFF;
        }

        .assessment-scheme-others-content-2 {
            display: flex;
            width: 100%;
            flex-direction: row;
            padding: 10px 0px 0px 15px;
            gap: 10px;
            overflow: visible;
        }

        .assessment-scheme-others-content-2-req-text-box {
            display: flex;
            width: 145px;
            padding: 0px 0px 0px 0px;
            margin-left: 170px;
            align-items: center;
            overflow: visible;
        }

        .assessment-scheme-others-content-2-text-box {
            display: flex;
            width: 50px;
            padding: 0px 10px 0px 14px;
            margin-left: 40px;
            align-items: flex-start;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #FFF;
        }

        .syllabus-content-2 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 5px;
            margin-top: 10px;
            border-radius: 0px 0px 10px 10px;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
            overflow: hidden;
        }

        .syllabus-content-2-title {
            display: flex;
            padding: 5px 0px;
            align-items: flex-start;
            padding: 5px 0px 5px 10px;
            gap: 10px;
            align-self: stretch;
            border-radius: 10px 10px 0px 0px;
            background: #2D3748;
        }

        .syllabus-content-2-content {
            display: flex;
            width: 100%;
            max-height: 100%;
            padding: 10px 10px 20px 30px;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            overflow: hidden;
        }

        .syllabus-content-2-content-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            overflow-y: scroll;
        }

        .syllabus-content-2-content-info-training {
            display: flex;
            align-items: flex-start;
            gap: 190px;
        }

        .syllabus-content-2-content-info-re-test {
            display: flex;
            align-items: flex-start;
            gap: 198px;
        }

        .syllabus-content-2-content-info-marking {
            display: flex;
            align-items: flex-start;
            gap: 192px;
        }

        .syllabus-content-2-content-info-waiver {
            display: flex;
            align-items: flex-start;
            gap: 147px;
        }

        .syllabus-content-2-content-info-others {
            display: flex;
            align-items: flex-start;
            gap: 200px;
        }

        .syllabus-content-2-content-info-frame {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }

        .syllabus-creation-footer-previous {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .previous-box {
            display: flex;
            height: 38px;
            padding: 20px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
        }
        .previous-button {
            display: flex;
            padding: 7px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: var(--Sub-info, #474747);
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    </style>
    <body>
        <div class="syllabus-create-container">
            <div class="syllabus-creation-header">
                <div class="progress-frame">
                    <div class="progress-frame-name">
                        Syllabus
                    </div>
                    <div class="progress-bar">
                        <div class="label">
                            <div class="bar space completed-bar radius-border-bar-start"></div>
                            <div class="label-name label-name-padding">General</div>
                        </div>
                        <div class="label">
                            <div class="bar completed-bar"></div>
                            <div class="label-name label-name-padding">Outline</div>
                        </div>
                        <div class="label">
                            <div class="bar completed-bar"><img class="eclipse-img" src="/img/Ellipse offset.svg" alt=""></div>
                            <div class="label-name label-name-padding">Others</div>
                        </div>
                        <div class="label">
                            <div class="bar radius-border-bar-end"></div>
                            <div class="label-name label-name-padding">Done</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="syllabus-creation-body">
                <div class="syllabus-creation-body-right">
                    <div class="syllabus-content-others">
                        <div class="syllabus-content-1">
                            <div class="time-allocation-others">
                                <div class="time-allocation-others-title title-text-white">Time allocation</div>
                                <div class="time-allocation-others-content">
                                    <div class="others-doughnut">
                                        <img class="doughnut-img" src="/img/Doughnut.svg" alt="">
                                    </div>
                                    <div class="others-info">
                                        <div class="info">
                                            <img src="/img/bullet1.svg" alt="">
                                            <div class="info-type-1">Assigment Lab</div>
                                            <div class="info-type-2">(0%)</div>
                                        </div>
                                        <div class="info">
                                            <img src="/img/bullet2.svg" alt="">
                                            <div class="info-type-1">Concept/Lecture</div>
                                            <div class="info-type-2">(0%)</div>
                                        </div>
                                        <div class="info">
                                            <img src="/img/bullet3.svg" alt="">
                                            <div class="info-type-1">Guide/Review</div>
                                            <div class="info-type-2">(0%)</div>
                                        </div>
                                        <div class="info">
                                            <img src="/img/bullet4.svg" alt="">
                                            <div class="info-type-1">Test/Quiz</div>
                                            <div class="info-type-2">(0%)</div>
                                        </div>
                                        <div class="info">
                                            <img src="/img/bullet5.svg" alt="">
                                            <div class="info-type-1">Exams</div>
                                            <div class="info-type-2">(0%)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="assessment-scheme-others">
                                <div class="assessment-scheme-others-title title-text-white">Assessment scheme</div>
                                <div class="assessment-scheme-others-content">
                                    <div class="assessment-scheme-others-content-1">
                                        <div class="assessment-scheme-others-content-1-left">
                                            <div class="assessment-scheme-others-content-1-req-text-box">
                                                <div class="normal-text">Quiz*</div>
                                                <form action="" method="">
                                                    <div class="assessment-scheme-others-content-1-text-box normal-text">
                                                        <input type="text" class="short-round">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="assessment-scheme-others-content-1-req-text-box">
                                                <div class="normal-text">Assignment*</div>
                                                <form action="" method="">
                                                    <div class="assessment-scheme-others-content-1-text-box normal-text">
                                                        <input type="text" class="short-round">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="assessment-scheme-others-content-1-req-text-box">
                                                <div class="normal-text">Final*</div>
                                                <form action="" method="">
                                                    <div class="assessment-scheme-others-content-1-text-box normal-text">
                                                        <input type="text" class="short-round">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="assessment-scheme-others-content-1-right">
                                            <div class="assessment-scheme-others-content-1-req-text-box">
                                                <div class="normal-text">Final Theory*</div>
                                                <form action="" method="">
                                                    <div class="assessment-scheme-others-content-1-text-box normal-text">
                                                        <input type="text" class="short-round">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="assessment-scheme-others-content-1-req-text-box">
                                                <div class="normal-text">Final Practice*</div>
                                                <form action="" method="">
                                                    <div class="assessment-scheme-others-content-1-text-box normal-text">
                                                        <input type="text" class="short-round">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="assessment-scheme-others-content-2">
                                        <div class="title-text-black">Passing criteria</div>
                                        <div class="normal-text assessment-scheme-others-content-2-req-text-box">
                                            <div class="normal-text">GPA*</div>
                                            <form action="" method="">
                                                <div class="assessment-scheme-others-content-2-text-box normal-text">
                                                    <input type="text" class="short-round">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="syllabus-content-2">
                            <div class="syllabus-content-2-title title-text-white">Training delivery principle</div>
                            <div class="syllabus-content-2-content">
                                <div class="syllabus-content-2-content-info">
                                    <div class="syllabus-content-2-content-info-training">
                                        <div class="title-text-black syllabus-content-2-content-info-training-frame">
                                            <img class="verified-user-img" src="/img/verified_user.svg" alt="">
                                            Training
                                        </div>
                                        <form action="" method="">
                                            <div class="normal-text">
                                                <textarea name="" id="" cols="70" rows="6" class="text-area-custom"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="syllabus-content-2-content-info-re-test">
                                        <div class="title-text-black syllabus-content-2-content-info-frame">
                                            <img class="verified-user-img" src="/img/verified_user.svg" alt="">
                                            Re-test
                                        </div>
                                        <form action="" method="">
                                            <div class="normal-text">
                                                <textarea name="" id="" cols="70" rows="6" class="text-area-custom"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="syllabus-content-2-content-info-marking">
                                        <div class="title-text-black syllabus-content-2-content-info-frame">
                                            <img class="verified-user-img" src="/img/verified_user.svg" alt="">
                                            Marking
                                        </div>
                                        <form action="" method="">
                                            <div class="normal-text">
                                                <textarea name="" id="" cols="70" rows="6" class="text-area-custom"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="syllabus-content-2-content-info-waiver">
                                        <div class="title-text-black syllabus-content-2-content-info-frame">
                                            <img class="verified-user-img" src="/img/verified_user.svg" alt="">
                                            Waiver Criteria
                                        </div>
                                        <form action="" method="">
                                            <div class="normal-text">
                                                <textarea name="" id="" cols="70" rows="6" class="text-area-custom"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="syllabus-content-2-content-info-others">
                                        <div class="title-text-black syllabus-content-2-content-info-frame">
                                            <img class="verified-user-img" src="/img/verified_user.svg" alt="">
                                            Others
                                        </div>
                                        <form action="" method="">
                                            <div class="normal-text">
                                                <textarea name="" id="" cols="70" rows="6" class="text-area-custom"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="syllabus-creation-body-left"></div>
            </div>
            <div class="syllabus-creation-footer">
                <div class="previous-box">
                    <div class="previous-button">Previous</div>
                </div>
            </div>
        </div>
    </body>

</head>
</html>