﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus Creation</title>
</head>
<head>
    <style>
        .syllabus-create-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }
        .syllabus-creation-header {
            display: flex;
            width: 100%;
            height: 10%;
            padding: 10px 0px 0px 30px;
            border-bottom: 1px solid var(--Main, #2D3748);
            background: #FFF;
        }
        .progress-frame {
            display: flex;
            align-items: flex-start;
            gap: 50px;
        }

        .progress-frame-name {
            color: var(--Main, #2D3748);
            /* section */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 4.8px;
        }

        .progress-bar {
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            align-items: flex-start;
        }

        .label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
            flex: 1 0 0;
        }

        .bar {
            width: 100%;
            height: 12px;
            background: #CCC;
        }

        .completed-bar {
            background: var(--blue-main, #285D9A);
        }

        .radius-border-bar-start {
            border-radius: 6px 0px 0px 6px;
        }

        .radius-border-bar-end {
            border-radius: 0px 6px 6px 0px;
        }

        .label-name {
            flex: 1 0 0;
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .label-name-padding {
            display: flex;
            padding: 0px 10px;
            align-items: flex-start;
            align-self: stretch;
        }
        .syllabus-content {
            display: flex;
            width: 100%;
            height: 90%;
            align-items: flex-start;
            flex-direction: column;
            border-radius: 0px 0px 10px 10px;
            border-block-end: #2D3748 solid 16px;
        }

        .syllabus-creation-body {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 80%;
        }

        .syllabus-creation-body-right {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            border-right: 3px inset;
            border-bottom: 7px inset;
        }
        .syllabus-tab {
            display: flex;
            width: 700px;
            height: 25px;
            flex-shrink: 0;
        }

        .syllabus-sub-tab {
            display: flex;
            width: 130px;
            height: 25px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 20px 20px 0px 0px;
            border: 1px solid #FFF;
            background: #6D7684;
        }

        #syllabus-current-tab {
            background: #2D3748;
        }

        .syllabus-sub-tab:hover {
            background: #2D3748;
            cursor: pointer;
        }

        .syllabus-sub-tab:active {
            background: #000;
        }

        .sub-tab-text {
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .syllabus-content {
            display: flex;
            width: 100%;
            height: 90%;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            margin-top: 35px;
            border-top: 0.5px solid #000;
        }

        .day-form {
            width: 100%;
            height: auto;
            padding: 10px 0px 10px 0px;
            display: flex;
            justify-content: left;
            background: hsl(218, 23%, 23%);
        }

        .day-number {
            width: auto;
            height: auto;
            margin-left: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: left;
        }
        .content-detail-form {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            border-radius: 0px 0px 20px 20px;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
        }



        /* ---------------------------------------------------------Font-style-------------------------------------------------- */
        .white-text-typo-small {
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .white-text-typo-medium {
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .black-text-typo-medium {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }


        .black-italic-text-typo-small {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }

        .black-text-typo-small {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        /* ---------------------------------------------------------font_style-------------------------------------------------- */



        /* ---------------------------------------------------------add_day_btn-------------------------------------------------- */


        .add-day {
            width: 100%;
            height: auto;
            display: flex;
        }

        .add-day-btn {
            width: auto;
            height: auto;
            display: flex;
            margin: 20px 20px 20px 20px;
            padding: 7px 10px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 10px;
            background: var(--Sub-info, #2D3748);
        }

            .add-day-btn:hover {
                background-color: #6D7684;
                cursor: pointer;
            }

            .add-day-btn:active {
                background-color: #000;
            }

        /* ---------------------------------------------------------add_day_btn-------------------------------------------------- */



        /* ---------------------------------------------------------add_unit_btn-------------------------------------------------- */
        .add-unit {
            display: flex;
            width: 100%;
            height: auto;
        }

        .add-unit-btn {
            display: flex;
            width: auto;
            height: auto;
            margin: 20px 20px 20px 20px;
            padding: 7px 10px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 10px;
            background: var(--Sub-info, #474747);
        }

            .add-unit-btn:hover {
                background-color: #6D7684;
                cursor: pointer;
            }

            .add-unit-btn:active {
                background-color: #000;
            }

        /* ---------------------------------------------------------add_unit_btn-------------------------------------------------- */



        /* ---------------------------------------------------------content_detail-------------------------------------------------- */
        .content-detail {
            border-radius: 0px 0px 20px 20px;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
        }

        /* ---------------------------------------------------------content_detail-------------------------------------------------- */



        /* ---------------------------------------------------------create_content_form-------------------------------------------------- */

        .create-content-form {
            width: 100%;
            height: auto;
            display: flex;
            gap: auto;
            flex-direction: column;
            border-bottom: #000 1px solid;
        }

        .unit-creation {
            width: 100%;
            height: auto;
            display: flex;
            gap: auto;
        }

        .unit-title {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: left;
            gap: 53px;
            margin: 20px 20px 20px 20px;
        }

        .unit-name {
            display: flex;
            gap: 15px;
        }

        .unit-name-duration {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }

        .create-button {
            display: flex;
            height: auto;
            padding: 10px;
            border-radius: 10px;
            background: var(--Main, #2D3748);
        }

        .dropdown-icon {
            width: 24px;
            height: 24px;
            margin: 10px 20px 0px 0px;
        }

        .content-space {
            padding-left: 165px;
            margin: 0px 20px 20px 0px;
        }

        .input-content {
            width: 100%;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            /* align-self: stretch; */
            justify-content: space-between;
            gap: 10px;
            border-radius: 10px;
            background: var(--Box, #F1F1F1);
        }

        .input-content-space-1 {
            max-width: 40%;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0px 30px;
        }

        .custom-text-box-1 {
            height: 30px;
            width: 300px;
            border-radius: 10px;
            border: 0;
            background: #FFF;
            box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
        }

        .input-content-space-2 {
            height: 40px;
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
        /* use for all boxes   */
        .custom-box {
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
            border: 0;
        }
        /* use for all boxes   */

        .output-standard {
            display: flex;
            align-items: center;
            width: 30%;
            height: 30px;
        }

        .duration {
            display: flex;
            align-items: center;
            width: 10%;
            height: 30px;
        }

        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 20%;
            height: 30px;
            border-radius: 50px;
            background: var(--orange-main, #D45B13);
        }

        .status-typo {
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .delivery-type {
            display: flex;
            align-items: center;
            width: 30%;
            height: 30px;
        }

        .import-lo {
            display: flex;
            align-items: center;
            width: 10%;
            height: 30px;
        }

        .import-lo-img {
            width: 100%;
            height: 40px;
        }
        /* ---------------------------------------------------------create_content_form-------------------------------------------------- */



        /* ---------------------------------------------------------create_unit-------------------------------------------------- */
        .create-unit {
            width: 100%;
            height: auto;
            display: flex;
            gap: auto;
            border-bottom: #000 1px solid;
        }

        .unit-title {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: left;
            gap: 53px;
            margin: 20px 20px 20px 20px;
        }

        .unit-name-creation {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .input-button {
            display: flex;
            gap: 5px;
        }

        .input-box {
            display: flex;
            width: 281px;
            height: 10px;
            padding: 10px;
            align-items: center;
            font-style: italic;
            border-radius: 10px;
            border: 1px solid #000;
            background: #FFF;
        }

        .create-input-button {
            display: flex;
            width: auto;
            height: 10px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: 1px solid var(--Main, #2D3748);
            background: var(--Main, #2D3748);
        }

            .create-input-button:hover {
                background-color: #6D7684;
                cursor: pointer;
            }

            .create-input-button:active {
                background-color: #000;
            }

        .dropdown-icon {
            width: 24px;
            height: 24px;
            margin: 10px 20px 0px 0px;
        }
        /* ---------------------------------------------------------create_unit-------------------------------------------------- */



        /* ---------------------------------------------------------show_day_btn-------------------------------------------------- */
        .day-form {
            width: 100%;
            height: auto;
            padding: 10px 0px 10px 0px;
            display: flex;
            justify-content: left;
            background: hsl(218, 23%, 23%);
        }

        .day-number {
            width: auto;
            height: auto;
            margin-left: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: left;
        }
        /* ---------------------------------------------------------show_day_btn-------------------------------------------------- */
        .syllabus-creation-footer-previous {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .previous-box {
            display: flex;
            height: 38px;
            padding: 20px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
        }
        .previous-button {
            display: flex;
            padding: 7px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: var(--Sub-info, #474747);
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    </style>
</head>
<body>
    <div class="syllabus-create-container">
        <div class="syllabus-creation-header">
            <div class="progress-frame">
                <div class="progress-frame-name">
                    Syllabus
                </div>
                <div class="progress-bar">
                    <div class="label">
                        <div class="bar completed-bar radius-border-bar-start"></div>
                        <div class="label-name label-name-padding">General</div>
                    </div>
                    <div class="label">
                        <div class="bar completed-bar "></div>
                        <div class="label-name label-name-padding">Outline</div>
                    </div>
                    <div class="label">
                        <div class="bar"></div>
                        <div class="label-name label-name-padding">Others</div>
                    </div>
                    <div class="label">
                        <div class="bar radius-border-bar-end"></div>
                        <div class="label-name label-name-padding">Done</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="syllabus-creation-body">
            <div class="syllabus-creation-body-right">
                @* --------- *@
                <div class="syllabus-content">
                    <div class="day-form">
                        <div class="day-number">
                            <div class="white-text-typo-small">Day number</div>
                        </div>
                    </div>
                    <div class="content-detail-form">
                        <div class="create-content-form">
                            <div class="unit-creation">
                                <div class="unit-title">
                                    <div class="unit-code">
                                        <div class="black-text-typo-medium">Unit number</div>
                                    </div>
                                    <div class="unit-name">
                                        <div class="unit-name-duration">
                                            <div class="black-text-typo-medium">.Unit name</div>
                                            <div class="black-italic-text-typo-small">7hrs</div>
                                        </div>
                                        <div class="create-button"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="content-space">
                                <div class="input-content">

                                    <div class="input-content-space-1">
                                        <input type="text" class="custom-text-box-1">
                                    </div>

                                    <div class="input-content-space-2">
                                        <div action="" class="output-standard">
                                            <select name="" id="" class="custom-box">
                                                <option value="" disabled selected>Output standard</option>
                                                <option value="">option 1</option>
                                                <option value="">option 2</option>
                                                <option value="">option 3</option>
                                                <option value="">option 4</option>
                                            </select>
                                        </div>
                                        <div action="" class="duration">
                                            <input type="text" class="custom-box">
                                        </div>
                                        <div class="status">                                            
                                            <div class="status-typo">Online</div>
                                        </div>
                                        <div action="" class="delivery-type">
                                            <select name="" id="" class="custom-box">
                                                <option value="" disabled selected>Delivery type</option>
                                                <option value="">option 1</option>
                                                <option value="">option 2</option>
                                                <option value="">option 3</option>
                                                <option value="">option 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="create-unit">
                            <div class="unit-title">
                                <div class="unit-code">
                                    <div class="black-text-typo-medium">Unit number</div>
                                </div>
                                <div class="unit-name-creation">
                                    <div class="black-text-typo-small">Unit name</div>
                                    <div class="input-button">
                                        <div action="">
                                            <input class="input-box" type="text" placeholder="Type unit name">
                                        </div>
                                        <div class="create-input-button">
                                            <div class="white-text-typo-small">Create</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="add-unit">
                            <div class="add-unit-btn">
                                <div class="white-text-typo-small">Add unit</div>
                            </div>
                        </div>

                    </div>

                    <div class="add-day">
                        <div class="add-day-btn">
                            <div class="white-text-typo-small">Add day</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="syllabus-creation-body-left">
                <div class="time-allocation-box">
                    <div class="time-allocation">Time allocation</div>
                    <div class="time-allocation-content">
                        <div class="time-allocation-info">
                            <div class="info">
                                <img src="img/bullet1.svg" alt="">
                                <div class="info-type-1">Assigment Lab</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet2.svg" alt="">
                                <div class="info-type-1">Concept/Lecture</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet3.svg" alt="">
                                <div class="info-type-1">Guide/Review</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet4.svg" alt="">
                                <div class="info-type-1">Test/Quiz</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                            <div class="info">
                                <img src="img/bullet5.svg" alt="">
                                <div class="info-type-1">Exams</div>
                                <div class="info-type-2">(0%)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="syllabus-creation-footer-previous">
            <div class="previous-box">
                <div class="previous-button">Previous</div>
            </div>
        </div>
    </div>
</body>

</html>