﻿@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContext

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .syllabus-name {
            display: inline-block;
            flex-direction: column;
            width: 100%;
            height: 10%;
        }

        .basic-info {
            display: flex;
            padding: 0px 10px 10px 20px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }

        .syllabus-name-code {
            display: flex;
            width: 744px;
            align-items: center;
            gap: 40px;
        }

        .req-text-box {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .req-text-box-element {
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            padding-top: 15px;
        }

        #text-box-1 {
            display: flex;
            width: 200px;
            font-size: 13px;
            padding: 9px 16px 9px 9px;
            align-items: flex-start;
            gap: 10px;
        }

        #code-text-box {
            display: flex;
            width: 46px;
            font-size: 13px;
            padding: 9px 16px 9px 9px;
            align-items: flex-start;
            gap: 10px;
        }

        #text-box-2 {
            display: flex;
            width: 46px;
            font-size: 13px;
            padding: 9px 16px 9px 9px;
            align-items: flex-start;
            gap: 10px;
        }

        .syllabus-tab {
            display: flex;
            width: 700px;
            height: 25px;
            flex-shrink: 0;
        }

        .syllabus-sub-tab {
            display: flex;
            width: 130px;
            height: 25px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 20px 20px 0px 0px;
            border: 1px solid #FFF;
            background: #6D7684;
        }

        #syllabus-current-tab {
            background: #2D3748;
        }

        .syllabus-sub-tab:hover {
            background: #2D3748;
            cursor: pointer;
        }

        .syllabus-sub-tab:active {
            background: #000;
        }

        .sub-tab-text {
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .syllabus-creation-footer-previous {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .saving-button {
            display: flex;
            height: 38px;
            padding: 20px;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
        }

        .cancel {
            display: flex;
            padding: 7px 10px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: var(--alert, #E74A3B);
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration-line: underline;
        }

        .save-as-draft, .next{
            display: flex;
            padding: 7px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: var(--Sub-info, #474747);
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .cancel:hover {
            background: #E74A3B;
            color: #FFF;
            border-radius: 10px;
        }

        .save-as-draft:hover, .next:hover {
            background: #6D7684;
        }
    </style>
</head>
<body>
    <div class="syllabus-name">
        <div class="basic-info">
            <div class="syllabus-name-code">
                <div class="req-text-box">
                    <p class="req-text-box-element">Syllabus Name:</p>
                    <div id="Name-text-box">
                        <input type="text" class="long-round">
                    </div>
                </div>
                <div class="req-text-box">
                    <p class="req-text-box-element">Code:</p>
                    <div id="topicCode-text-box">NPL</div>
                </div>
                <div class="req-text-box">
                    <p class="req-text-box-element">Version:</p>
                    <div id="version-text-box">
                        1.0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="syllabus-tab">
        <div>
            <button id="loginButton" onClick="myFunction()">
                <div class="syllabus-sub-tab added-tab" id="syllabus-current-tab">
                    <div class="sub-tab-text">General</div>
                </div>
            </button>
        </div>
        <div>
            <button id="loginButton1" onClick="myFunction1()">
                <div class="syllabus-sub-tab added-tab" id="syllabus-current-tab">
                    <div class="sub-tab-text">Outline</div>
                </div>
            </button>
        </div>
        <div>
            <button id="loginButton2" onClick="myFunction2()">
                <div class="syllabus-sub-tab added-tab" id="syllabus-current-tab">
                    <div class="sub-tab-text">Training material</div>
                </div>
            </button>
        </div>
    </div>
    <div>
        <div>
            <div id="loginView" style="display:none;">
                <partial name="_General" />
            </div>
            <script type="text/javascript">
                $("#loginButton").on("click", function () {
                    $("#loginView").toggle();
                    $("#loginView1").hide();
                    $("#loginView2").hide();
                });
            </script>
        </div>
        <div>
            <div id="loginView1" style="display:none;">
                <partial name="_Outline" />
            </div>
            <script type="text/javascript">
                $("#loginButton1").on("click", function () {
                    $("#loginView1").toggle();
                    $("#loginView").hide();
                    $("#loginView2").hide();
                });
            </script>
        </div>
        <div>
            <div id="loginView2" style="display:none;">
                <partial name="_Other" />
            </div>
            <script type="text/javascript">
                $("#loginButton2").on("click", function () {
                    $("#loginView2").toggle();
                    $("#loginView").hide();
                    $("#loginView1").hide();
                });
            </script>
        </div>
    </div>
    <div class="syllabus-creation-footer-previous">
        <div class="saving-button">
            <div class="cancel">Cancel</div>
            <div class="save-as-draft">Save as draft</div>
            <div class="next">Next</div>
        </div>
    </div>
</body>



