﻿﻿@using UserManagementFA2023.Models.DTO
@model UserManagementFA2023.Models.DTO.CombinedSyllabusModelDTO
@*@model List<UserManagementFA2023.Models.DTO.UserStatusSyllabusCombine>*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus</title>
    <!-- included script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/site.css">
    <!-- --- -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
        #title {
            color: var(--Main, #2D3748);
            /* Header/H4 */
            font-family: 'Inter';
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            /* 150% */
            letter-spacing: 4.8px;
            padding: 20px;
        }

        .icon {
            position: absolute;
            top: 5px;
            left: 2%;
        }

        #import-btn {
            border-radius: 8px;
            background: var(--orange, #D45B13);
        }

        #add-btn {
            border-radius: 8px;
            background: var(--Main, #2D3748);
            /* M3/Elevation Light/1 */
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
        }

        .search-item {
            border-radius: 8px;
            border: 1px solid #FFF;
            background: var(--Sub-info, #474747);
            color: white;
            height: 45px;
            padding: 7px;
        }

        #table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px 10px 0px 0px;
            box-shadow: -4px 5px 9px 1px gray;
        }

            #table td {
                padding: 5px 20px;
            }

            #table tr {
                border-bottom: 0.5px solid #2D3748;
            }

            #table > thead {
                background: #2D3748;
                color: white;
                height: 40px;
            }

        .search-item {
            user-select: none;
        }

            .search-item > span {
                cursor: pointer;
            }

        .pagination > li > a,
        .pagination > li > span {
            border-radius: 50% !important;
            margin: 0 5px;
        }

        .dropbtn {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 25px;
            white-space: normal;
            text-align: center;
            outline: none !important;
            text-decoration: none !important;
            color: #000 !important;
            cursor: pointer;
        }

            .dropbtn:active,
            .dropbtn:hover,
            .dropbtn:focus {
                background-color: #f1f1f1 !important;
            }

        .dropdown {
            position: relative;
            display: inline-block;
            user-select: none;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            overflow: auto;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
            z-index: 1;
            left: -412%;
            border-radius: 10px;
            width: 229px;
        }

            .dropdown-content a {
                color: #2C5282;
                font-size: 16px;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover,
                .dropdown-content a:focus {
                    background: rgba(201, 203, 208, 0.37);
                }

        .show {
            display: block;
        }

        #table > thead > tr > td {
            cursor: pointer;
        }

        #add-syllabus-dialog, #import-syllabus-dialog {
            width: 30%;
            min-width: 500px;
            border-radius: 10px;
            border: none;
            overflow-x: hidden;
        }

            #add-syllabus-dialog, #import-syllabus-dialog::backdrop {
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(2px);
            }

        .svg {
            pointer-events: none;
        }

        .active-page {
            background-color: #3f3f3f;
            color: #ffffff;
        }

            .active-page:hover {
                background-color: #bfbfbf;
            }
    </style>
    <script src="js/validation.js"></script>
    <script src="~/js/importExport.js"></script>
</head>

<body>
    <div class="d-flex flex-column" style="height: 100vh;">
        <div id="header">
        </div>
        <div class="d-flex flex-grow-1 flex-row">
            <div id="navbar" class="" style="background-color: #edf2f7;"></div>
            <div id="syllabus" class="flex-grow-1">
                <!-- content -->
                <h1 id="title">Syllabus</h1>
                <div class="row w-100">
                    <div class="col-6" style="padding-left: 20px;">
                        <div class="d-inline-block position-relative" style="width: 49%;">
                            <i class="icon bi bi-search"></i>
                            <input id="search-input" type="text" class="form-control d-inline-block ps-4"
                                   placeholder="Search by...">
                        </div>
                        <div class="d-inline-block position-relative" style="width: 49%;">
                            <i class="icon bi bi-calendar"></i>
                            <input onfocus="(this.type='date')" type="text" class="form-control d-inline-block ps-4"
                                   placeholder="Created date">
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end gap-1">
                        <button id="import-btn" class="btn text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none">
                                <g clip-path="url(#clip0_469_623)">
                                    <path d="M9 16H15V10H19L12 3L5 10H9V16ZM12 5.83L14.17 8H13V14H11V8H9.83L12 5.83ZM5 18H19V20H5V18Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_469_623">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Import file
                        </button>
                        <button id="download-all-syllabus" class="btn text-white" style="background-color: #4DB848;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" transform="rotate(180)">
                                <g clip-path="url(#clip0_469_623)">
                                    <path d="M9 16H15V10H19L12 3L5 10H9V16ZM12 5.83L14.17 8H13V14H11V8H9.83L12 5.83ZM5 18H19V20H5V18Z" fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_469_623">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Export all
                        </button>
                        <button id="add-btn" class="btn text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none">
                                <g clip-path="url(#clip0_469_773)">
                                    <path d="M13 7H11V11H7V13H11V17H13V13H17V11H13V7ZM12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_469_773">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Add New
                        </button>
                    </div>
                </div>
                <div id="search-keyword" class="search-keyword d-flex p-2 flex-wrap">
                </div>
                <div class="p-2">
                    <table id="table">
                        <thead>
                        <td>
                            Syllabus
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Code
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Created on
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Created by
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Duration
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            View Detail
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Status
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                        </td>
                        </thead>
                        <tbody>
                            @if (Model.syllabusDTOs != null && Model.syllabusDTOs.Any())
                            {
                                @foreach (var item in Model.syllabusDTOs)
                                {
                                    <tr class="syllabus-row" data-syllabus-id="@item.SyllabusId">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SyllabusTittle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SyllabusCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedByUserId)
                                            @*@if (Model.userDTOs != null && Model.userDTOs.Any())
                                    {
                                    @foreach (var itemUser in Model.userDTOs)
                                    {
                                    @if (itemUser.Id == item.CreatedByUserId)
                                    {
                                    @Html.DisplayFor(modelItem => itemUser.Id)
                                    }
                                    }
                                    }*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            <a asp-action="SyllabusDetail" asp-route-syllabusId="@item.SyllabusId">View Detail</a>
                                        </td>
                                        <td>
                                            @if (Model.statusDTOs != null && Model.statusDTOs.Any())
                                            {
                                                @foreach (var itemStatus in Model.statusDTOs)
                                                {
                                                    @if (itemStatus.StatusId == item.StatusId)
                                                    {
                                                        @Html.DisplayFor(modelItem => itemStatus.IsActive)
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="dropdown-button">...</button>
                                                <div class="dropdown-options">
                                                    <a href="#" class="dropdown-option" style="font-size: 12px; padding: 6px 12px">Adding training program</a>
                                                    <a href="#" class="dropdown-option" style="font-size: 12px; padding: 6px 12px">Edit syllabus</a>
                                                    <a href="#" class="dropdown-option" style="font-size: 12px; padding: 6px 12px">Dupplicate syllabus</a>
                                                    <a href="#" class="export-syllabus-button dropdown-option" data-syllabusid="@item.SyllabusId" style="font-size: 12px; padding: 6px 12px">Export syllabus</a>
                                                    <a href="#" class="dropdown-option" style="font-size: 12px; padding: 6px 12px">Delete syllabus</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>


                    </table>
                </div>

                <div class="row m-3">
                    <div class="col-10 flex-grow-1" id="pagination">
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <label for="pagination-page-size">Row per page</label>
                            </div>
                            <div class="col">
                                <select class="form-select" name="pageSize" id="pagination-page-size">
                                    <option selected value="3">3</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="footer"></div>
        <dialog id="add-syllabus-dialog" class="p-0">
            <table class="table m-0">
                <thead class="table-dark">
                <th class="text-center">
                    <div class="d-flex flex-row align-items-center">
                        <span class="flex-grow-1">
                            Add new Syllabus
                        </span>
                        <button class="btn close-add-syllabus-dialog-button">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_46_6114)">
                                    <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z"
                                          fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_46_6114">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form id="add-syllabus-form">
                                <div class="mb-3 mt-3 row align-items-center">
                                    <label for="select-user-type" class="form-label col-12 col-md-2 col-form-label">
                                        Name
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-syllabus-name"
                                               name="name" placeholder="Syllabus name">
                                        <div class="invalid-feedback" id="invalid-syllabus-name"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-user-name"
                                           class="form-label col-12 col-md-2 col-form-label">Code</label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-code" name="code"
                                               placeholder="Code">
                                        <div class="invalid-feedback" id="invalid-code"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="pick-created-date" class="form-label col-12 col-md-2 col-form-label">
                                        Created on
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="date" class="form-control" id="pick-created-date" name="createOn"
                                               placeholder="">
                                        <div class="invalid-feedback" id="invalid-created-date"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-created-by" class="form-label col-12 col-md-2 col-form-label">
                                        Created by
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-created-by"
                                               name="createBy" placeholder="Created by">
                                        <div class="invalid-feedback" id="invalid-created-by"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-duration" class="form-label col-12 col-md-2 col-form-label">
                                        Duration
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-duration"
                                               name="duration" placeholder="Duration">
                                        <div class="invalid-feedback" id="invalid-duration"></div>
                                    </div>
                                </div>

                                <div class="mb-3 row align-items-end">
                                    <p class="form-label col-12 col-md-2 col-form-label">Status</p>
                                    <div class="col-12 col-md-10 form-check form-switch ps-3 m-auto">
                                        <input type="checkbox" name="status" id="toggle-user-status"
                                               class="form-check-input m-0 align-self-center" value="true"
                                               style="scale: 1.5;">
                                        <label for="toggle-user-status" id="user-status-label"
                                               class="form-check-label mx-3">Inactive</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <input type="reset" class="btn btn-danger close-add-syllabus-dialog-button"
                                           value="Cancel">
                                    <input type="submit" name="btAction" id="submit-add-syllabus-dialog-button"
                                           class="btn btn-dark" value="Save">
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </dialog>
        <dialog id="import-syllabus-dialog" class="p-0">
            <table class="table m-0">
                <thead class="table-dark">
                <th class="text-center">
                    <div class="d-flex flex-row align-items-center">
                        <span class="flex-grow-1">
                            Import Syllabus
                        </span>
                        <button class="btn close-import-syllabus-dialog-button">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_46_6114)">
                                    <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z"
                                          fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_46_6114">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form id="import-syllabus-form" enctype="multipart/form-data">
                                <div class="mb-3 mt-3 row align-items-center">
                                    <div class="col-4">
                                        <b>Import setting</b>
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <label for="filee" class="form-label col-7">
                                                File (csv)
                                            </label>
                                            <div class="col-5 d-flex flex-column">
                                                <span id="file-name"></span>
                                                <label for="input-csv" class="btn text-white" style="background: #2D3748;">
                                                    Select
                                                    <input style="display: none;" type="file" id="input-csv"
                                                           name="file" accept=".csv">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="filee" class="form-label col-7">
                                                Encoding type
                                            </label>
                                            <div class="col-5">
                                                <select id="my-dropdown">
                                                    <option value="option1">Auto detect</option>
                                                    <option value="option2">Auto detect</option>
                                                    <option value="option3">Auto detect</option>
                                                    <option value="option4">Auto detect</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="filee" class="form-label col-7">
                                                Column sperator
                                            </label>
                                            <div class="col-5">
                                                <select id="my-dropdown">
                                                    <option value="option1">Comma</option>
                                                    <option value="option2">Comma</option>
                                                    <option value="option3">Comma</option>
                                                    <option value="option4">Comma</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="filee" class="form-label col-7">
                                                Import template
                                            </label>
                                            <div class="col-5">
                                                <a id="downloadLink" href="#" onclick="downloadSyllabusTemplate()">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr style="width:100%;text-align:left;margin-left:0">


                                <div class="mb-3 mt-3 row align-items-center">
                                    <div class="col-4" sytle="padding: 0px; margin: 0px">
                                        <b>Duplicate control</b>
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <!-- Checkbox for Scanning -->
                                            <label for="scanning" class="form-label col-7">
                                                Scanning
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="check-box">
                                                <!-- Child Checkbox for Syllabus Code -->
                                                <input type="checkbox" id="syllabus-code" name="syllabus-code">
                                                <label for="syllabus-code" class="form-label">
                                                    Syllabus Code
                                                </label>
                                                <!-- Child Checkbox for Syllabus Name -->
                                                <input type="checkbox" id="syllabus-name" name="syllabus-name">
                                                <label for="syllabus-name" class="form-label">
                                                    Syllabus Name
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="scanning" class="form-label col-7">
                                                Dupplicate handle
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="radio">
                                                <form>
                                                    <input type="radio" id="Allow" name="radio-group" value="Allow">
                                                    <label for="Allow">Allow</label>

                                                    <input type="radio" id="Replace" name="radio-group" value="Replace">
                                                    <label for="Replace">Replace</label>

                                                    <input type="radio" id="Skip" name="radio-group" value="Skip">
                                                    <label for="Skip">Skip</label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="width:100%;text-align:left;margin-left:0">
                                <div class="col-12 text-center">
                                    <button type="button" class="btn btn-danger close-import-syllabus-dialog-button" id="cancel-button">Cancel</button>
                                    <input type="submit" name="btAction" id="submit-import-syllabus-dialog-button" class="btn btn-dark" value="Import">
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </dialog>
    </div>
    <script src="component/header.js"></script>
    <script src="component/navbar.js"></script>
    <script src="component/footer.js"></script>
    <script src="js/component.js"></script>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction(el) {
            if (el.nextElementSibling.classList.contains("show")) {
                el.nextElementSibling.classList.toggle("show");
            }
            else {
                let dropdown = document.querySelectorAll(".dropdown-content");
                dropdown.forEach(o => o.classList.remove("show"));
                el.nextElementSibling.classList.toggle("show");
            }
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <script>
        // Get the input field
        var input = document.getElementById("search-input");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function (event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter" && input.value.trim() !== "") {
                let search = document.getElementById("search-keyword");
                let item = document.createElement("div");
                item.className = "search-item";
                item.innerHTML += `
                                            ${input.value}
                                            <span>&#10005;</span>
                                        `
                search.appendChild(item);
                input.value = "";
                let deleteButton = item.getElementsByTagName("span")[0];
                deleteButton.addEventListener("click", () => {
                    item.remove();
                });
            }
        });

        document.querySelectorAll(".search-item").forEach(element => {
            let deleteButton = element.getElementsByTagName("span")[0];
            deleteButton.addEventListener("click", () => {
                element.remove();
            });
        });

        // identify an element to observe
        let elementToObserve = window.document.getElementById('search-keyword');

        // create a new instance of 'MutationObserver' named 'observer',
        // passing it a callback function
        observer = new MutationObserver(function (mutationsList, observer) {
            const searches = document.querySelectorAll("#search-keyword .search-item");

            const body = document.querySelectorAll("#table > tbody > tr");

            if (searches.length == 0) {
                body.forEach(el => el.className = "")
                return;
            }

            body.forEach((el) => {
                const name = el.querySelector("td:first-child").innerHTML;
                const code = el.querySelector("td:nth-child(2)").innerHTML;
                const createBy = el.querySelector("td:nth-child(4)").innerHTML;
                const duration = el.querySelector("td:nth-child(5)").innerHTML;
                const status = el.querySelector("td:nth-child(6) > span").innerHTML;

                searches.forEach(search => {
                    let s = search.innerText.split(" ")[0];
                    if (name.includes(s) || code.includes(s) || createBy.includes(s)
                        || duration.includes(s) || status.includes(s) || el.isMatch) {
                        el.className = "";
                        el.isMatch = true;
                    }
                    else {
                        el.className = "d-none";
                    }
                })

                el.isMatch = false;
            })
        });

        // call 'observe' on that MutationObserver instance,
        // passing it the element to observe, and the options object
        observer.observe(elementToObserve, { characterData: false, childList: true, attributes: false });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>

    <script type="module" src="js/getAllSyllabus.js"></script>
    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("table");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                          set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        document.querySelector("#table > thead > tr > td:first-child").addEventListener("click", () => sortTable(0))
        document.querySelector("#table > thead > tr > td:nth-child(2)").addEventListener("click", () => sortTable(1))
        document.querySelector("#table > thead > tr > td:nth-child(4)").addEventListener("click", () => sortTable(3))
        document.querySelector("#table > thead > tr > td:nth-child(5)").addEventListener("click", () => sortTable(4))
        document.querySelector("#table > thead > tr > td:nth-child(6)").addEventListener("click", () => sortTable(5))
        document.querySelector("#table > thead > tr > td:nth-child(7)").addEventListener("click", () => sortTable(6))
    </script>
    <script>
        document.getElementById("input-csv").addEventListener("change", () => {
            let csv = document.getElementById("input-csv").files[0];
            //Get extension name
            if (csv.name.split('.').pop() != "csv") {
                document.getElementById("input-csv").value = "";
                alert("Must use .csv file");
                return;
            }
            document.getElementById("file-name").innerHTML = csv.name;
        })
    </script>
    <script>
        $("#add-btn").click(() => {
            $("#add-syllabus-dialog")[0].showModal();
        });
        $("#toggle-user-status").click(function () {
            $(this).prop("disabled", true);
            if ($("#user-status-label")[0].textContent === "Active") {
                $("#user-status-label")[0].textContent = "Inactive";
            } else {
                $("#user-status-label")[0].textContent = "Active";
            }
            setTimeout(() => {
                $(this).prop("disabled", false);
            }, 150);
        });

        $("#input-syllabus-name").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-code").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-created-by").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#pick-created-date").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-duration").click(function () {
            $(this).removeClass("is-invalid");
        });
        $(".close-add-syllabus-dialog-button").click(function (event) {
            event.preventDefault();
            $(".is-invalid").removeClass("is-invalid")
            $(".invalid-feedback").text("");
            $("#add-syllabus-form")[0].reset();
            $("#add-syllabus-dialog")[0].close();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#import-btn").click(function () {
                var importSyllabusDialog = document.getElementById("import-syllabus-dialog");
                if (importSyllabusDialog) {
                    importSyllabusDialog.showModal();
                }
            });

            // Other jQuery event handlers and code can go here
        });
        document.addEventListener("DOMContentLoaded", function () {
            var importSyllabusDialog = document.getElementById("import-syllabus-dialog");
            var closeImportSyllabusDialogBtn = document.querySelector(".close-import-syllabus-dialog-button");
            var inputCsv = document.getElementById("input-csv");
            var fileInput = document.getElementById("file-name");
            var importSyllabusForm = document.getElementById("import-syllabus-form");

            closeImportSyllabusDialogBtn.addEventListener("click", function () {
                if (importSyllabusDialog) {
                    importSyllabusDialog.close();
                }
            });
            $("#cancel-button").click(function () {
                if (importSyllabusDialog) {
                    importSyllabusDialog.close();
                }
            });

            inputCsv.addEventListener("change", function () {
                if (fileInput) {
                    fileInput.textContent = inputCsv.value.split("\\").pop();
                }
            });

            importSyllabusForm.addEventListener("submit", function (event) {
                event.preventDefault();
                // Handle form submission logic here
                if (importSyllabusDialog) {
                    importSyllabusDialog.close();
                }
            });

        });
    </script>

    <script>
        document.getElementById("submit-import-syllabus-dialog-button").addEventListener("click", () => {
            const file = document.getElementById("input-csv").files[0];
            if (!file) {
                alert("Please select a .csv file.");
                return;
            }

            const formData = new FormData();
            formData.append('csvFile', file); // Ensure the key matches the parameter name in the server-side method

            fetch('https://localhost:7000/api/syllabus/CSV/ImportSyllabus', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        alert('CSV file imported successfully!');
                        // Additional code here for what you want to do after successful import
                    } else {
                        throw new Error('Error importing CSV.');
                    }
                })
                .catch(error => {
                    console.error('Error importing CSV:', error);
                    alert('Error importing CSV file.');
                });
        });
    </script>
    <script>
        document.getElementById("download-all-syllabus").addEventListener("click", () => {
            fetch('https://localhost:7000/api/syllabus/CSV/ExportAllSyllabus', {
                method: 'GET',
            })
                .then(response => {
                    if (response.ok) {
                        return response.blob();
                    } else {
                        throw new Error('Error exporting all syllabus.');
                    }
                })
                .then(blob => {
                    // Create a URL for the blob
                    const url = window.URL.createObjectURL(blob);

                    // Create a link element
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'Syllabus_All.csv');

                    // Simulate click to trigger download
                    document.body.appendChild(link);
                    link.click();

                    // Clean up
                    document.body.removeChild(link);
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error('Error exporting all syllabus:', error);
                    alert('Error exporting all syllabus.');
                });
        });
    </script>
    <script>
        // Event listener for exporting a specific syllabus
        document.querySelectorAll('.export-syllabus-button').forEach(button => {
            button.addEventListener('click', event => {
                event.preventDefault();

                // Get the syllabus ID from the data attribute
                const syllabusId = event.currentTarget.getAttribute('data-syllabusid');

                // Call the API to export the syllabus with the given ID
                fetch(`https://localhost:7000/api/syllabus/CSV/ExportSyllabus/1`, {
                    method: 'GET',
                })
                    .then(response => {
                        if (response.ok) {
                            return response.blob();
                        } else {
                            throw new Error(`Error exporting syllabus ${syllabusId}.`);
                        }
                    })
                    .then(blob => {
                        // Create a URL for the blob
                        const url = window.URL.createObjectURL(blob);

                        // Create a link element
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', `Syllabus_${syllabusId}.csv`);

                        // Simulate click to trigger download
                        document.body.appendChild(link);
                        link.click();

                        // Clean up
                        document.body.removeChild(link);
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error(`Error exporting syllabus ${syllabusId}:`, error);
                        alert(`Error exporting syllabus ${syllabusId}.`);
                    });
            });
        });
    </script>
    
</body>

</html>