﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create class</title>
    <link rel="stylesheet" href="/css/component.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/icon_gam.png">
    <!-- included script -->
    <!-- --- -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/Bootstrap/bootstrap.min.css">
    <script src="/js/Bootstrap/bootstrap.js/bootstrap.bundle.min.js"></script>
    <script src="/js/JQuery/jquery-3.7.1.js"></script>
    <link href="/css/CreateClass/add-trainer.css" rel="stylesheet">
    <script src="/js/create-class.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/CreateClass/add-trainer.js"></script>


</head>
<body>

    <div class="d-flex flex-column" style="height: 100vh;">
        <div id="header"></div>
        <div class="d-flex flex-grow-1 flex-row">
            <div id="navbar" class="" style="background-color: #edf2f7;"></div>
                <div id="syllabus" class="flex-grow-1" style="max-width: 100%; margin-bottom: 10px">
                    <!-- content -->
                    <div class="component">
                        <div class="program-header">
                            <p class="training-program" style="background-color: white;color: #2D3748">
                                <span class="text-wrapper" style="color: #2D3748">Training program of </span> <span th:text="${class.className}" class="span"></span>
                                <input type="hidden" th:field="*{className}">
                            </p>
                            <div class="program-name">
                                <div class="frame-head">
                                    <div class="div"><span th:text="${class.trainingProgram.name}"></span></div>
                                    <div class="inactive">
                                        <div class="in-active"><span th:text="${class.trainingProgram.status}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="program-meta-data">
                            <div class="frame-2">
                                <div class="element"><span th:text="${class.trainingProgram.duration}"></span></div>
                                <input type="hidden" th:field="*{trainingProgram.duration}">
                                <div class="days">days</div>
                                <div class="hours">
                                    (<span th:text="${class.trainingProgram.duration*24}"></span> hours)
                                </div>
                            </div>
                            <p class="modified-on">
                                <span class="text-wrapper-2">Modified on </span>
                                <span th:text="${class.trainingProgram.modifiedDate}" class="text-wrapper-3"></span>
                                <span class="text-wrapper-2"> by </span>
                                <span th:text="${class.trainingProgram.modifiedBy}" class="text-wrapper-4"></span>
                                <span class="text-wrapper-3">&nbsp;</span>
                            </p>
                        </div>
                    </div>

                    <div class="frame" style="position: relative">
                        <div class="content">
                            <div class="content-title">
                                <div class="div-wrapper">
                                    <div class="text-wrapper">Content</div>
                                </div>
                                <div th:each="s:${syllabus}" class="div">
                                    <div class="syllabus">
                                        <div class="div-2">
                                            <div class="program-name">
                                                <div class="div-3">
                                                    <div class="text-wrapper-2"><span th:text="${s.topicName}"></span></div>
                                                    <div class="activate">
                                                        <div class="text-wrapper-3">
                                                            <span th:text="${s.status}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="syllabus-meta">
                                            <div class="div-4"><span th:text="${s.version}"></span></div>
                                            <div class="div-4">|</div>
                                            <p class="div-4">
                                                <span class="span">Modified on </span>
                                                <span class="text-wrapper-4" th:text="${s.modifiedDate}"></span>
                                                <span class="span"> by <span th:text="${s.modifiedBy}"></span></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="div-5" style="display: block;max-height: 470px">
                                        <div th:each="date:${dayNumber}" class="div-6">
                                            <div class="day">
                                                <div class="div-7">
                                                    <div class="frame-wrapper">
                                                        <div class="div-wrapper-2">
                                                            <div class="text-wrapper-5">
                                                                Day <span th:text="${date}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:each="d:${trainingUnit}" th:if="${s.topicCode == d.topicCode.topicCode and date == d.dayNumber}" class="unit-day">
                                                    <div class="div-8">
                                                        <div class="div-9">
                                                            <div class="text-wrapper-6">
                                                                <span th:text="${d.unitCode}"></span>
                                                            </div>
                                                            <div class="div-10">
                                                                <div class="text-wrapper-7">
                                                                    <span th:text="${d.unitName}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="arrow-drop-down-wrapper" th:id="'unit-'+ ${d.unitCode}">
                                                            <img class="img"
                                                                 src="https://c.animaapp.com/8MSAo8mF/img/arrow-drop-down-circle-5.svg" />
                                                        </div>
                                                    </div>
                                                    <div class="div-11" th:id="'content-'+ ${d.unitCode}" style="display:none;">
                                                        <div class="div-12">
                                                            <div class="overlap-group-wrapper">
                                                                <a class="trainer-window button overlap">
                                                                    <div class="group" th:id="'group-' +${d.unitCode}">
                                                                        <div class="overlap-group">
                                                                            <img class="mask-group"
                                                                                 src="https://c.animaapp.com/8MSAo8mF/img/mask-group-1@2x.png" />
                                                                            <div class="ellipse"></div>
                                                                        </div>
                                                                    </div>
                                                                    <img class="add" th:id="'add-' +${d.unitCode}"
                                                                         src="https://c.animaapp.com/8MSAo8mF/img/add.svg" />
                                                                </a>
                                                            </div>
                                                            <img class="line"
                                                                 src="https://c.animaapp.com/8MSAo8mF/img/line-12-1.svg" />
                                                            <select name="location" class="div-13">
                                                                <option value="" disabled selected>Location</option>
                                                                <option th:each="l:${location}" th:value="${l}">
                                                                    [[${l}]]
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="div-14">
                                                            <div th:each="c:${d.trainingContents}" class="div-15">
                                                                <div class="text-wrapper-10">
                                                                    <span th:text="${c.content}"></span>
                                                                </div>
                                                                <div class="div-16">
                                                                    <div class="div-wrapper-3">
                                                                        <div class="text-wrapper-11">
                                                                            <span th:text="${c.learningObjective.code}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-wrapper-12">
                                                                        <span th:text="${c.duration}"></span>
                                                                    </div>
                                                                    <div th:if="${c.trainingFormat == 'ONLINE'}" class="online">
                                                                        <div class="text-wrapper-13">
                                                                            <span th:text="${c.trainingFormat}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div th:if="${c.trainingFormat == 'OFFLINE'}" class="offline">
                                                                        <div style="color: white" class="text-wrapper-14">
                                                                            <span th:text="${c.trainingFormat}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <svg th:if="${c.deliveryType == 'ASSIGNMENT/LAB'}"
                                                                         xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none">
                                                                        <g clip-path="url(#clip0_252_18771)">
                                                                            <path d="M18 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V4C20 2.9 19.1 2 18 2ZM9 4H11V9L10 8.25L9 9V4ZM18 20H6V4H7V13L10 10.75L13 13V4H18V20Z"
                                                                                  fill="#2D3748" />
                                                                        </g>
                                                                        <defs>
                                                                            <clipPath id="clip0_252_18771">
                                                                                <rect width="24" height="24" fill="white" />
                                                                            </clipPath>
                                                                        </defs>
                                                                    </svg>
                                                                    <svg th:if="${c.deliveryType == 'CONCEPT/LECTURE'}"
                                                                         xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none">
                                                                        <g clip-path="url(#clip0_252_18775)">
                                                                            <path d="M9 13C11.21 13 13 11.21 13 9C13 6.79 11.21 5 9 5C6.79 5 5 6.79 5 9C5 11.21 6.79 13 9 13ZM9 7C10.1 7 11 7.9 11 9C11 10.1 10.1 11 9 11C7.9 11 7 10.1 7 9C7 7.9 7.9 7 9 7ZM9 15C6.33 15 1 16.34 1 19V21H17V19C17 16.34 11.67 15 9 15ZM3 19C3.22 18.28 6.31 17 9 17C11.7 17 14.8 18.29 15 19H3ZM15.08 7.05C15.92 8.23 15.92 9.76 15.08 10.94L16.76 12.63C18.78 10.61 18.78 7.56 16.76 5.36L15.08 7.05ZM20.07 2L18.44 3.63C21.21 6.65 21.21 11.19 18.44 14.37L20.07 16C23.97 12.11 23.98 6.05 20.07 2Z"
                                                                                  fill="#2D3748" />
                                                                        </g>
                                                                        <defs>
                                                                            <clipPath id="clip0_252_18775">
                                                                                <rect width="24" height="24" fill="white" />
                                                                            </clipPath>
                                                                        </defs>
                                                                    </svg>
                                                                    <svg th:if="${c.deliveryType == 'GUIDES/REVIEW'}"
                                                                         xmlns="http://www.w3.org/2000/svg" width="23"
                                                                         height="23" viewBox="0 0 23 23" fill="none">
                                                                        <g clip-path="url(#clip0_252_18779)">
                                                                            <path d="M17.25 22.9999H10.9729C9.93794 22.9999 8.9221 22.5687 8.20335 21.8212L1.20752 14.5283L3.19127 12.7745C3.78544 12.2474 4.65752 12.142 5.3571 12.5158L7.66669 13.7424V4.59035C7.66669 3.26785 8.74002 2.19452 10.0625 2.19452C10.2254 2.19452 10.3884 2.21369 10.5513 2.24244C10.6375 0.996605 11.6725 0.00952148 12.9375 0.00952148C13.7617 0.00952148 14.4804 0.421605 14.9117 1.0541C15.1896 0.939105 15.4963 0.881605 15.8125 0.881605C17.135 0.881605 18.2084 1.95494 18.2084 3.27744V3.54577C18.3617 3.51702 18.5246 3.49785 18.6875 3.49785C20.01 3.49785 21.0834 4.57119 21.0834 5.89369V19.1666C21.0834 21.2845 19.3679 22.9999 17.25 22.9999ZM3.96752 14.6433L9.58335 20.4891C9.94752 20.8629 10.4459 21.0833 10.9634 21.0833H17.25C18.3042 21.0833 19.1667 20.2208 19.1667 19.1666V5.89369C19.1667 5.62535 18.9559 5.41452 18.6875 5.41452C18.4192 5.41452 18.2084 5.62535 18.2084 5.89369V11.4999H16.2917V3.27744C16.2917 3.0091 16.0809 2.79827 15.8125 2.79827C15.5442 2.79827 15.3334 3.0091 15.3334 3.27744V11.4999H13.4167V2.40535C13.4167 2.13702 13.2059 1.92619 12.9375 1.92619C12.6692 1.92619 12.4584 2.13702 12.4584 2.40535V11.4999H10.5417V4.59035C10.5417 4.32202 10.3309 4.11119 10.0625 4.11119C9.79419 4.11119 9.58335 4.3316 9.58335 4.59035V16.9241L4.45627 14.212L3.96752 14.6433Z"
                                                                                  fill="#2D3748" />
                                                                        </g>
                                                                        <defs>
                                                                            <clipPath id="clip0_252_18779">
                                                                                <rect width="23" height="23" fill="white" />
                                                                            </clipPath>
                                                                        </defs>
                                                                    </svg>
                                                                    <svg th:if="${c.deliveryType == 'TEST/QUIZ'}"
                                                                         xmlns="http://www.w3.org/2000/svg" width="20"
                                                                         height="18" viewBox="0 0 20 18" fill="none">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M18 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H18C19.1 18 20 17.1 20 16V2C20 0.9 19.1 0 18 0ZM18 16H2V2H18V16Z"
                                                                              fill="#2D3748" />
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M17.41 7.42L15.99 6L12.82 9.17L11.41 7.75L10 9.16L12.82 12L17.41 7.42Z"
                                                                              fill="#2D3748" />
                                                                        <path d="M8 4H3V6H8V4Z" fill="#2D3748" />
                                                                        <path d="M8 8H3V10H8V8Z" fill="#2D3748" />
                                                                        <path d="M8 12H3V14H8V12Z" fill="#2D3748" />
                                                                    </svg>
                                                                    <svg th:if="${c.deliveryType == 'EXAM'}"
                                                                         xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none">
                                                                        <g clip-path="url(#clip0_252_18787)">
                                                                            <path d="M12.45 16H14.54L9.42996 3H7.56996L2.45996 16H4.54996L5.66996 13H11.31L12.45 16ZM6.42996 11L8.49996 5.48L10.57 11H6.42996ZM21.59 11.59L13.5 19.68L9.82996 16L8.41996 17.41L13.51 22.5L23 13L21.59 11.59Z"
                                                                                  fill="#2D3748" />
                                                                        </g>
                                                                        <defs>
                                                                            <clipPath id="clip0_252_18787">
                                                                                <rect width="24" height="24" fill="white" />
                                                                            </clipPath>
                                                                        </defs>
                                                                    </svg>
                                                                    <svg th:if="${c.deliveryType == 'SEMINAR/WORKSHOP'}"
                                                                         xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none">
                                                                        <g clip-path="url(#clip0_252_18791)">
                                                                            <path d="M12 5C8.13 5 5 8.13 5 12H7C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12H19C19 8.13 15.87 5 12 5ZM13 14.29C13.88 13.9 14.5 13.03 14.5 12C14.5 10.62 13.38 9.5 12 9.5C10.62 9.5 9.5 10.62 9.5 12C9.5 13.02 10.12 13.9 11 14.29V17.59L7.59 21L9 22.41L12 19.41L15 22.41L16.41 21L13 17.59V14.29ZM12 1C5.93 1 1 5.93 1 12H3C3 7.03 7.03 3 12 3C16.97 3 21 7.03 21 12H23C23 5.93 18.07 1 12 1Z"
                                                                                  fill="#2D3748" />
                                                                        </g>
                                                                        <defs>
                                                                            <clipPath id="clip0_252_18791">
                                                                                <rect width="24" height="24" fill="white" />
                                                                            </clipPath>
                                                                        </defs>
                                                                    </svg>
                                                                    <img class="img"
                                                                         src="https://c.animaapp.com/8MSAo8mF/img/folder-8.svg" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <dialog th:each="d:${trainingUnit}" class="trainer-box" th:id="'trainer-box-'+${d.unitCode}" style="display: none;position: absolute;">
                                    <div class="trainer" style="max-height: 300px; overflow: scroll">
                                        <button type="button" th:each="tr:${trainers}" th:value="${d.unitCode}" class="trainer-2" th:id="'button-'+${tr}" onclick="addTrainer(this)">
                                            <div class="trainer-group">
                                                <div class="trainer-overlap-group">
                                                    <img class="trainer-mask-group" src="/img/trainer.png" />
                                                    <div class="trainer-ellipse"></div>
                                                </div>
                                            </div>
                                            <div class="trainer-3">
                                                <div class="trainer-text-wrapper"><span th:text="${tr}"></span></div>
                                            </div>
                                        </button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" th:field="*{status}">
                            <input type="hidden" th:field="*{fsu}">
                            <input type="hidden" th:field="*{timeTo}">
                            <input type="hidden" th:field="*{timeFrom}">
                            <input type="hidden" th:field="*{startDate}">
                            <input type="hidden" th:field="*{endDate}">
                            <input type="hidden" th:field="*{duration}">
                            <input type="hidden" th:field="*{trainingProgram.name}">
                            <input type="hidden" th:field="*{trainingProgram.trainingProgramCode}">
                            <input type="hidden" th:field="*{trainingProgram.trainingProgramSyllabus}">
                            <input type="hidden" th:field="*{trainingProgram.status}">
                            <input type="hidden" th:field="*{trainingProgram.duration}">
                            <input type="hidden" th:field="*{trainingProgram.modifiedDate}">
                            <input type="hidden" th:field="*{trainingProgram.modifiedBy}">
                            <input type="hidden" th:field="*{attendee.planned}">
                            <input type="hidden" th:field="*{attendee.accepted}">
                            <input type="hidden" th:field="*{attendee.actual}">
                            <input type="hidden" th:field="*{attendee.attendeeType.attendeeType}">
                        </div>
                        <div class="saving-button">
                            <input type="submit" class="div-wrapper"
                                   style="color: white;padding: 1px 20px;margin-left: 25px" value="Back" name="action">
                        </div>
                    </div>

                </div>
        </div>
    </div>
    <script src="/js/component.js"></script>
</body>
</html>
