﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <style>
        .create-unit {
            width: 100%;
            height: auto;
            display: flex;
            gap: auto;
            border-bottom: #000 1px solid;
        }

        .unit-title {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: left;
            gap: 53px;
            margin: 20px 20px 20px 20px;
        }

        .unit-name-creation {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .input-button {
            display: flex;
            gap: 5px;
        }

        .input-box {
            display: flex;
            width: 281px;
            height: 10px;
            padding: 10px;
            align-items: center;
            font-style: italic;
            border-radius: 10px;
            border: 1px solid #000;
            background: #FFF;
        }

        .black-text-typo-medium {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    </style>
</head>
<body>
<div class="create-unit">
    <div class="unit-title">
        <div class="unit-code">
            <div class="black-text-typo-medium">Training Program name</div>
        </div>
        <div class="unit-name-creation">
            <div class="input-button">
                <div action="">
                    <input class="input-box" type="text" placeholder="Select program">
                </div>
            </div>
        </div>
    </div>
</div>
</body>