﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
    <!-- included script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/component.css">
    <link href="css/select2/select2.css" rel="stylesheet" />
    <script src="js/select2/select2.min.js"></script>
    <!-- --- -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
        #title {
            display: flex;
            padding: 15px 20px;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            border-top: 1px solid #FFF;
            background: #2D3748;
            color: #FFF;
            /* Header/H4 */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            /* 150% */
            letter-spacing: 4.8px;
        }

        .icon {
            position: absolute;
            top: 5px;
            left: 2%;
        }

        #add-btn {
            border-radius: 8px;
            background: var(--Main, #2D3748);
            /* M3/Elevation Light/1 */
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
        }

        #table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px 10px 0px 0px;
            box-shadow: -4px 5px 9px 1px gray;
        }

            #table td {
                padding: 5px 20px;
            }

            #table tr {
                border-bottom: 0.5px solid #2D3748;
            }

            #table > thead {
                background: #2D3748;
                color: white;
                height: 40px;
            }

        #filter-option-dialog {
            width: 70%;
            border-radius: 10px;
            border: none;
        }

            #filter-option-dialog::backdrop {
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(2px);
            }

        .dropbtn {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 25px;
            white-space: normal;
            text-align: center;
            outline: none !important;
            text-decoration: none !important;
            color: #000 !important;
            cursor: pointer;
        }

            .dropbtn:active,
            .dropbtn:hover,
            .dropbtn:focus {
                background-color: #f1f1f1 !important;
            }

        .dropdown {
            position: relative;
            display: inline-block;
            user-select: none;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            overflow: auto;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
            z-index: 1;
            left: -412%;
            border-radius: 10px;
            width: 229px;
        }

            .dropdown-content a {
                color: #2C5282;
                font-size: 16px;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover,
                .dropdown-content a:focus {
                    background: rgba(201, 203, 208, 0.37);
                }

        .show {
            display: block;
        }

        #add-class-dialog {
            width: 30%;
            min-width: 500px;
            border-radius: 10px;
            border: none;
            overflow-x: hidden;
        }

            #add-class-dialog::backdrop {
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(2px);
            }

        .svg {
            pointer-events: none;
        }

        .select2-container--default .select2-selection--multiple {
            display: block;
            min-width: 40px;
            height: 100%;
            padding-top: 0;
            padding-left: 0;
            padding-bottom: 0.375rem;
            padding-right: 50px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--bs-body-color);
            appearance: none;
            background-color: var(--bs-body-bg);
            background-clip: padding-box;
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            overflow-y: scroll;
        }
            /* width */
            .select2-container--default .select2-selection--multiple::-webkit-scrollbar,
            .select2-results__options::-webkit-scrollbar {
                width: 5px;
            }

            /* Track */
            .select2-container--default .select2-selection--multiple::-webkit-scrollbar-track,
            .select2-results__options::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px white;
                border-radius: 5px;
            }

            /* Handle */
            .select2-container--default .select2-selection--multiple::-webkit-scrollbar-thumb,
            .select2-results__options::-webkit-scrollbar-thumb {
                background: #4f6181;
                border-radius: 2px;
            }

        .active-page {
            background-color: #3f3f3f;
            color: #ffffff;
        }

            .active-page:hover {
                background-color: #bfbfbf;
            }
    </style>
    <!--<script src="js/validation.js"></script>-->
</head>

<body>
    <div class="d-flex flex-column" style="height: 100vh;">
        <div id="header">
        </div>
        <div class="d-flex flex-grow-1 flex-row">
            <div id="navbar" class="" style="background-color: #edf2f7;"></div>
            <div id="class" class="flex-grow-1">
                <h1 id="title">Training Class</h1>
                <div class="row w-100">
                    <div class="col-6" style="padding-left: 20px;">
                        <div class="d-inline-block position-relative" style="width: 49%;">
                            <i class="icon bi bi-search"></i>
                            <input id="search-input" type="text" class="form-control d-inline-block ps-4"
                                   placeholder="Search by...">
                        </div>
                        <div class="d-inline-block position-relative" style="width: 49%;">
                            <button class="btn btn-dark" id="open-filter-dialog-button"
                                    style="border-radius: var(--bs-btn-border-radius);">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_487_2415)">
                                        <path d="M10 18H14V16H10V18ZM3 6V8H21V6H3ZM6 13H18V11H6V13Z" fill="#DFDEDE" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_487_2415">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                Filter
                            </button>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end gap-1">
                        <button id="add-btn" class="btn text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none">
                                <g clip-path="url(#clip0_469_773)">
                                    <path d="M13 7H11V11H7V13H11V17H13V13H17V11H13V7ZM12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_469_773">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Add New
                        </button>
                    </div>
                </div>
                <div class="p-2">
                    <table id="table">
                        <thead>
                        <td>
                            Class
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Class Code
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Created on
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Created by
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Duration
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Attendee
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Location
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <!--<td>
                            FSU
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path
                                        d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                        fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>-->
                        <td></td>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
                <div class="row m-3">
                    <div class="col-10 flex-grow-1" id="pagination">
                        hi
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <label for="pagination-page-size">Row per page</label>
                            </div>
                            <div class="col">
                                <select class="form-select" name="pageSize" id="pagination-page-size">
                                    <option selected value="3">3</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer"></div>
        <dialog id="filter-option-dialog">
            <form id="filter-form">
                <div class="row">
                    <div class="col-xl-6 col-md-12 mb-3">
                        <fieldset>
                            <legend>
                                <h5>
                                    Class location
                                </h5>
                            </legend>
                            <div class="d-flex flex-row">
                                <select style="width: 100%;" name="classLocationList" id="filter-class-location"
                                        multiple="multiple">
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xl-6 col-md-12 mb-3">
                        <fieldset>
                            <legend>
                                <h5>
                                    Class time frame
                                </h5>
                            </legend>
                            <div class="d-flex flex-row align-middle">
                                <label for="filter-start-date" class="form-label fs-5 m-auto px-1">from</label>
                                <input type="date" id="filter-start-date" class="form-control" name="startDate">
                                <label for="filter-end-date" class="form-label fs-5 m-auto px-1">to</label>
                                <input type="date" name="endDate" id="filter-end-date" class="form-control">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xl-4 col-md-6 mb-3 d-flex flex-row">
                        <div class="me-4 my-3">
                            <h5>Class time</h5>
                        </div>
                        <div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Morning"
                                       id="check-class-time-morning" name="classTimeList">
                                <label class="form-check-label fs-5" for="check-class-time-morning">
                                    Morning
                                </label>
                            </div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Noon" id="check-class-time-noon"
                                       name="classTimeList">
                                <label class="form-check-label fs-5" for="check-class-time-noon">
                                    Noon
                                </label>
                            </div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Night"
                                       id="check-class-time-night" name="classTimeList">
                                <label class="form-check-label fs-5" for="check-class-time-night">
                                    Night
                                </label>
                            </div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Online"
                                       id="check-class-time-online" name="classTimeList">
                                <label class="form-check-label fs-5" for="check-class-time-online">
                                    Online
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 d-flex flex-row">
                        <div class="me-4 my-3">
                            <h5>Status</h5>
                        </div>
                        <div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Planning"
                                       id="check-status-planning" name="statusList">
                                <label class="form-check-label fs-5" for="check-status-planning">
                                    Planning
                                </label>
                            </div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Opening"
                                       id="check-status-opening" name="statusList">
                                <label class="form-check-label fs-5" for="check-status-opening">
                                    Opening
                                </label>
                            </div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Closed" id="check-status-closed"
                                       name="statusList">
                                <label class="form-check-label fs-5" for="check-status-closed">
                                    Closed
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-12 mb-3 d-flex flex-row">
                        <div class="me-4 my-3">
                            <h5>Attendee</h5>
                        </div>
                        <div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Intern"
                                       id="check-attendee-intern" name="attendeeList">
                                <label class="form-check-label fs-5" for="check-attendee-intern">
                                    Intern
                                </label>
                            </div>
                            <div class=" form-check checkbox-lg">
                                <input class="form-check-input " type="checkbox" value="Fresher"
                                       id="check-attendee-fresher" name="attendeeList">
                                <label class="form-check-label fs-5" for="check-attendee-fresher">
                                    Fresher
                                </label>
                            </div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input " type="checkbox" value="Online fee-fresher"
                                       id="check-attendee-offline-ff" name="attendeeList">
                                <label class="form-check-label fs-5" for="check-attendee-offline-ff">
                                    Online fee-fresher
                                </label>
                            </div>
                            <div class="form-check checkbox-lg">
                                <input class="form-check-input" type="checkbox" value="Offline fee-fresher"
                                       id="check-attendee-online-ff" name="attendeeList">
                                <label class="form-check-label fs-5" for="check-attendee-online-ff">
                                    Offline fee-fresher
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 mb-3">
                        <label class="form-label fs-5 fw-medium" for="select-fsu">FSU</label>
                        <select class="form-control form-select" style="width: 100%;" name="fsu" id="select-fsu">
                            <option value="F1">F1</option>
                            <option value="F2">F2</option>
                            <option value="F3">F3</option>
                            <option value="F4">F4</option>
                            <option value="F5">F5</option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-md-12 mb-3">
                        <label class="form-label fs-5 fw-medium" for="select-trainer">Trainer</label>
                        <select class="form-control form-select" style="width: 100%;" name="trainer"
                                id="select-trainer">
                            <option value="T1">T1</option>
                            <option value="T2">T2</option>
                            <option value="T3">T3</option>
                            <option value="T4">T4</option>
                            <option value="T5">T5</option>
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <input class="btn btn-danger mx-1 me-auto" type="reset" id="cancel-filter-option-dialog-button"
                               value="Cancel">
                        <input class="btn btn-secondary mx-1" type="reset" id="reset-filter-option-dialog-button">
                        <input class="btn btn-primary mx-1" type="submit" name="btAction"
                               id="submit-filter-option-dialog-button">
                    </div>
                </div>
            </form>
        </dialog>
        <dialog id="add-class-dialog" class="p-0">
            <table class="table m-0">
                <thead class="table-dark">
                <th class="text-center">
                    <div class="d-flex flex-row align-items-center">
                        <span class="flex-grow-1">
                            Add new Class
                        </span>
                        <button class="btn close-add-class-dialog-button">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_46_6114)">
                                    <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z"
                                          fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_46_6114">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form id="add-class-form">
                                <div class="mb-3 mt-3 row align-items-center">
                                    <label for="name" class="form-label col-12 col-md-2 col-form-label">
                                        Name
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-class-name"
                                               name="name" placeholder="Class name">
                                        <div class="invalid-feedback" id="invalid-class-name"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-class-code"
                                           class="form-label col-12 col-md-2 col-form-label">Code</label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-code" name="code"
                                               placeholder="Code">
                                        <div class="invalid-feedback" id="invalid-code"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="pick-created-date" class="form-label col-12 col-md-2 col-form-label">
                                        Created on
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="date" class="form-control" id="pick-created-date" name="createOn"
                                               placeholder="">
                                        <div class="invalid-feedback" id="invalid-created-date"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-created-by" class="form-label col-12 col-md-2 col-form-label">
                                        Created by
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-created-by"
                                               name="createBy" placeholder="Created by">
                                        <div class="invalid-feedback" id="invalid-created-by"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-duration" class="form-label col-12 col-md-2 col-form-label">
                                        Duration
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-duration"
                                               name="duration" placeholder="Duration">
                                        <div class="invalid-feedback" id="invalid-duration"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-location" class="form-label col-12 col-md-2 col-form-label">
                                        Location
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-location"
                                               name="location" placeholder="Location">
                                        <div class="invalid-feedback" id="invalid-location"></div>
                                    </div>
                                </div>
                                <!--<div class="mb-3 row align-items-center">
                                    <label for="select-fsu"
                                        class="form-label col-12 col-md-2 col-form-label">
                                        FSU
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <select class="form-control form-select" style="width: 100%;" name="fsu" id="select-fsu">
                                            <option value="F1">F1</option>
                                            <option value="F2">F2</option>
                                            <option value="F3">F3</option>
                                            <option value="F4">F4</option>
                                            <option value="F5">F5</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-md-12 mb-3">

                                    </div>
                                </div>-->
                                <div class="col-12 text-center">
                                    <input type="reset" class="btn btn-danger close-add-class-dialog-button"
                                           value="Cancel">
                                    <input type="submit" name="btAction" id="submit-add-class-dialog-button"
                                           class="btn btn-dark" value="Save">
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </dialog>
    </div>
    <script src="component/header.js"></script>
    <script src="component/navbar.js"></script>
    <script src="component/footer.js"></script>
    <script src="js/component.js"></script>
    <script>
        $("#open-filter-dialog-button").click(() => {
            $("#filter-option-dialog")[0].showModal();
        });
        $("#cancel-filter-option-dialog-button").click(function (event) {
            $("#filter-option-dialog")[0].close();
        });

        $("#add-btn").click(() => {
            $("#add-class-dialog")[0].showModal();
        });

        $("#input-class-name").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-code").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-created-by").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-duration").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-location").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#pick-created-date").click(function () {
            $(this).removeClass("is-invalid");
        });
        $(".close-add-class-dialog-button").click(function (event) {
            event.preventDefault();
            $(".is-invalid").removeClass("is-invalid")
            $(".invalid-feedback").text("");
            $("#add-class-form")[0].reset();
            $("#add-class-dialog")[0].close();
        });
    </script>
    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("table");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                          set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        document.querySelector("#table > thead > tr > td:first-child").addEventListener("click", () => sortTable(0))
        document.querySelector("#table > thead > tr > td:nth-child(2)").addEventListener("click", () => sortTable(1))
        document.querySelector("#table > thead > tr > td:nth-child(4)").addEventListener("click", () => sortTable(3))
        document.querySelector("#table > thead > tr > td:nth-child(5)").addEventListener("click", () => sortTable(4))
        document.querySelector("#table > thead > tr > td:nth-child(6)").addEventListener("click", () => sortTable(5))
        document.querySelector("#table > thead > tr > td:nth-child(7)").addEventListener("click", () => sortTable(6))
    </script>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction(el) {
            if (el.nextElementSibling.classList.contains("show")) {
                el.nextElementSibling.classList.toggle("show");
            }
            else {
                let dropdown = document.querySelectorAll(".dropdown-content");
                dropdown.forEach(o => o.classList.remove("show"));
                el.nextElementSibling.classList.toggle("show");
            }
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#filter-class-location").select2({
                dropdownParent: $($("#filter-option-dialog")),
                closeOnSelect: false,
                width: "resolve"
            });
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <script type="module" src="js/getAllClass.js"></script>
</body>

</html>
