﻿@using UserManagementFA2023.Models.DTO;
@model ClassListViewDTO



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
        #title {
            color: var(--Main, #2D3748);
            /* Header/H4 */
            font-family: 'Inter';
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            /* 150% */
            letter-spacing: 4.8px;
            padding: 20px;
        }

        .icon {
            position: absolute;
            top: 5px;
            left: 2%;
        }

        #import-btn {
            border-radius: 8px;
            background: var(--orange, #D45B13);
        }

        #add-btn {
            border-radius: 8px;
            background: var(--Main, #2D3748);
            /* M3/Elevation Light/1 */
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
        }

        .search-item {
            border-radius: 8px;
            border: 1px solid #FFF;
            background: var(--Sub-info, #474747);
            color: white;
            height: 45px;
            padding: 7px;
        }

        #table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px 10px 0px 0px;
            box-shadow: -4px 5px 9px 1px gray;
        }

            #table td {
                padding: 5px 20px;
            }

            #table tr {
                border-bottom: 0.5px solid #2D3748;
            }

            #table > thead {
                background: #2D3748;
                color: white;
                height: 40px;
            }

        .search-item {
            user-select: none;
        }

            .search-item > span {
                cursor: pointer;
            }

        .pagination > li > a,
        .pagination > li > span {
            border-radius: 50% !important;
            margin: 0 5px;
        }

        .dropbtn {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 25px;
            white-space: normal;
            text-align: center;
            outline: none !important;
            text-decoration: none !important;
            color: #000 !important;
            cursor: pointer;
        }

            .dropbtn:active,
            .dropbtn:hover,
            .dropbtn:focus {
                background-color: #f1f1f1 !important;
            }

        .dropdown {
            position: relative;
            display: inline-block;
            user-select: none;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            overflow: auto;
            background: #FFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
            z-index: 1;
            left: -412%;
            border-radius: 10px;
            width: 229px;
        }

            .dropdown-content a {
                color: #2C5282;
                font-size: 16px;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover,
                .dropdown-content a:focus {
                    background: rgba(201, 203, 208, 0.37);
                }

        .show {
            display: block;
        }

        #table > thead > tr > td {
            cursor: pointer;
        }

        #add-syllabus-dialog, #import-syllabus-dialog {
            width: 30%;
            min-width: 500px;
            border-radius: 10px;
            border: none;
            overflow-x: hidden;
        }

            #add-syllabus-dialog, #import-syllabus-dialog::backdrop {
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(2px);
            }

        .svg {
            pointer-events: none;
        }

        .active-page {
            background-color: #3f3f3f;
            color: #ffffff;
        }

            .active-page:hover {
                background-color: #bfbfbf;
            }
    </style>
 @*   <script src="js/validation.js"></script>*@
</head>

<body>
    <div class="d-flex flex-column" style="height: 100vh;">
        <div id="header">
        </div>
        <div class="d-flex flex-grow-1 flex-row">
            <div id="navbar" class="" style="background-color: #edf2f7;"></div>
            <div id="syllabus" class="flex-grow-1">
                <!-- content -->
                <h1 id="title">Traing Class</h1>
                <div class="row w-100">
                    <div class="col-6" style="padding-left: 20px;">
                        <div class="d-inline-block position-relative" style="width: 49%;">
                            <i class="icon bi bi-search"></i>
                            <input id="search-input" type="text" class="form-control d-inline-block ps-4"
                                   placeholder="Search by...">
                        </div>
                        <div class="d-inline-block position-relative" style="width: 49%;">
                            <i class="icon bi bi-calendar"></i>
                            <input onfocus="(this.type='date')" type="text" class="form-control d-inline-block ps-4"
                                   placeholder="Created date">
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end gap-1">
                        <button id="add-btn" class="btn text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none">
                                <g clip-path="url(#clip0_469_773)">
                                    <path d="M13 7H11V11H7V13H11V17H13V13H17V11H13V7ZM12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_469_773">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Add New
                        </button>
                    </div>
                </div>
                <div id="search-keyword" class="search-keyword d-flex p-2 flex-wrap">
                </div>
                <div class="p-2">
                    <table id="table">
                        <thead>
                        <td>
                            Class
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Class Code
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Created on
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Created by
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Duration
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Attendee
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            Location
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            FSU
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        <td>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                 fill="none">
                                <g clip-path="url(#clip0_252_17330)">
                                    <path d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                                          fill="#DFDEDE" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_252_17330">
                                        <rect width="18" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </td>
                        </thead>
                        <tbody>
                            @if (Model.classDTOs != null && Model.classDTOs.Any())
                            {
                                @foreach (var item in Model.classDTOs)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClassName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClassCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreate)
                                        </td>
                                        <td>
                                            @if (Model.userDTOs != null && Model.userDTOs.Any())
                                            {
                                                @foreach (var itemUser in Model.userDTOs)
                                                {
                                                    @if (itemUser.Id == item.Id)
                                                    {
                                                        @Html.DisplayFor(modelItem => itemUser.Name)
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @if (Model.locationDTOs != null && Model.locationDTOs.Any())
                                            {
                                                @foreach (var itemLocation in Model.locationDTOs)
                                                {
                                                    @if (itemLocation.LocationId == item.LocationId)
                                                    {
                                                        @Html.DisplayFor(modelItem => itemLocation.LocationName)
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                TimeSpan duration = item.DateTo - item.DateFrom;

                                            }
                                            @duration.TotalDays.ToString() days
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FSU)
                                        </td>
                                        <td>
                                            @if (Model.levelDTOs != null && Model.levelDTOs.Any())
                                            {
                                                @foreach (var itemLevels in Model.levelDTOs)
                                                {
                                                    @if (itemLevels.LevelId == item.LevelId)
                                                    {
                                                        @Html.DisplayFor(modelItem => itemLevels.LevelName)
                                                    }
                                                }
                                            }
                                        </td>


                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>


                    </table>
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#pagination-page-size').on('change', function () {
                            var selectedPageSize = $(this).val();
                            console.log('Selected Page Size:', selectedPageSize);

                            window.location.href = '/Class/ClassIndex?pageSize=' + selectedPageSize;
                        });
                    });
                </script>
                <div class="row m-3">
                    <div class="col-10 flex-grow-1" id="pagination">
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <label for="pagination-page-size">Row per page</label>
                            </div>
                            <div class="col">
                                <select class="form-select" name="pageSize" id="pagination-page-size">
                                    @if (Model.pageDTO != null && Model.pageDTO.PageSize == 3){
                                        <option selected value="3">3</option>
                                    }
                                    else
                                    {
                                        <option value="3">3</option>
                                    }
                                    @if (Model.pageDTO != null && Model.pageDTO.PageSize == 10)
                                    {
                                        <option selected value="10">10</option>
                                    }
                                    else
                                    {
                                        <option value="10">10</option>
                                    }
                                    @if (Model.pageDTO != null && Model.pageDTO.PageSize == 20)
                                    {
                                        <option selected value="20">20</option>
                                    }
                                    else
                                    {
                                        <option value="20">20</option>
                                    }
                                    @if (Model.pageDTO != null && Model.pageDTO.PageSize == 50)
                                    {
                                        <option selected value="50">50</option>
                                    }
                                    else
                                    {
                                        <option value="50">50</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
@if (Model.pageDTO != null)
{
    <div class="pagination">
        @if (Model.pageDTO.CurrentPageNumber > 2)
        {
            @Html.ActionLink("1", "ClassIndex", new { page = 1 })
            @Html.Raw(" ... ")
        }
        
        @for (int i = Model.pageDTO.CurrentPageNumber - 1; i <= Model.pageDTO.CurrentPageNumber + 1; i++)
        {
            if (i > 0 && i <= Model.pageDTO.TotalPage)
            {
                if (i == Model.pageDTO.CurrentPageNumber)
                {
                    <span>@i</span>
                }
                else
                {
                    @Html.ActionLink(i.ToString(), "ClassIndex", new { page = i })
                }
            }
        }

        @if (Model.pageDTO.CurrentPageNumber < Model.pageDTO.TotalPage - 1)
        {
            @Html.Raw(" ... ")
            @Html.ActionLink(Model.pageDTO.TotalPage.ToString(), "ClassIndex", new { page = Model.pageDTO.TotalPage })
        }
    </div>
}
            </div>
        </div>
        <div id="footer"></div>
        <dialog id="add-syllabus-dialog" class="p-0">
            <table class="table m-0">
                <thead class="table-dark">
                <th class="text-center">
                    <div class="d-flex flex-row align-items-center">
                        <span class="flex-grow-1">
                            Add new Syllabus
                        </span>
                        <button class="btn close-add-syllabus-dialog-button">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_46_6114)">
                                    <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z"
                                          fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_46_6114">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form id="add-syllabus-form">
                                <div class="mb-3 mt-3 row align-items-center">
                                    <label for="select-user-type" class="form-label col-12 col-md-2 col-form-label">
                                        Name
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-syllabus-name"
                                               name="name" placeholder="Syllabus name">
                                        <div class="invalid-feedback" id="invalid-syllabus-name"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-user-name"
                                           class="form-label col-12 col-md-2 col-form-label">Code</label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-code" name="code"
                                               placeholder="Code">
                                        <div class="invalid-feedback" id="invalid-code"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="pick-created-date" class="form-label col-12 col-md-2 col-form-label">
                                        Created on
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="date" class="form-control" id="pick-created-date" name="createOn"
                                               placeholder="">
                                        <div class="invalid-feedback" id="invalid-created-date"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-created-by" class="form-label col-12 col-md-2 col-form-label">
                                        Created by
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-created-by"
                                               name="createBy" placeholder="Created by">
                                        <div class="invalid-feedback" id="invalid-created-by"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-duration" class="form-label col-12 col-md-2 col-form-label">
                                        Duration
                                    </label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-duration"
                                               name="duration" placeholder="Duration">
                                        <div class="invalid-feedback" id="invalid-duration"></div>
                                    </div>
                                </div>

                                <div class="mb-3 row align-items-end">
                                    <p class="form-label col-12 col-md-2 col-form-label">Status</p>
                                    <div class="col-12 col-md-10 form-check form-switch ps-3 m-auto">
                                        <input type="checkbox" name="status" id="toggle-user-status"
                                               class="form-check-input m-0 align-self-center" value="true"
                                               style="scale: 1.5;">
                                        <label for="toggle-user-status" id="user-status-label"
                                               class="form-check-label mx-3">Inactive</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <input type="reset" class="btn btn-danger close-add-syllabus-dialog-button"
                                           value="Cancel">
                                    <input type="submit" name="btAction" id="submit-add-syllabus-dialog-button"
                                           class="btn btn-dark" value="Save">
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </dialog>
    </div>

  
   

</body>

</html>


